core/src/test/resources/Align/MultidimentionalArray/hierarchicalEmployee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2017 rel. 3 sp1 (http://www.altova.com) -->
<xs:schema xmlns="urn:employee" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:employee">
	<xs:element name="town" type="xs:string"/>
	<xs:element name="street" type="xs:string"/>
	<xs:element name="address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="street"/>
				<xs:element ref="town"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="company">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="employee">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateHierarchicalEmployeeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="company"/>
				<xs:element ref="employee"/>
				<xs:element ref="address"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
