core/src/test/resources/Align/MultidimentionalArray/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:test" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:test">
	<xs:element name="arrays">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="array" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="field" type="field" maxOccurs="unbounded" />
<!-- 							<xs:element name="field" type="xs:string" maxOccurs="unbounded" /> -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="field">
		<xs:list itemType="xs:string" />
	</xs:simpleType>
</xs:schema>
