core/src/test/resources/OpenApi/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:element name="user">  
        <xs:complexType>
            <xs:all>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:all> 
        </xs:complexType>
    </xs:element>

</xs:schema>