test/src/test/testtool/WsdlGeneratorPipe/02/out.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:tns="http://nn.nl/WSDL/Account/Infor/Mation/1/GetAccountInformationOnPolicy/2" xmlns:ns1="http://nn.nl/XSD/Account/Infor/Mation/1/GetAccountInformationOnPolicy/2" xmlns:ns2="http://nn.nl/XSD/Generic/MessageHeader/2" targetNamespace="http://nn.nl/WSDL/Account/Infor/Mation/1/GetAccountInformationOnPolicy/2">
	<wsdl:documentation>Generated at null as Account_Infor_Mation_1_GetAccountInformationOnPolicy_2_concrete.wsdl on 2021-07-13 17:56:50.</wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://nn.nl/XSD/Account/Infor/Mation/1/GetAccountInformationOnPolicy/2" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://nn.nl/XSD/Account/Infor/Mation/1/GetAccountInformationOnPolicy/2">
	<xs:element name="GetAccountInformationRequest">
		<xs:annotation>
			<xs:documentation>GetAccountInformation Request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="policyReference">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="insuranceAdministration">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetAccountInformationReply">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CompletionInformation"/>
				<xs:element minOccurs="0" ref="DebuggingInformation"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="PolicyAccount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CompletionInformation">
		<xs:annotation>
			<xs:documentation>GetAccountInformationType</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="returnCode">
					<xs:annotation>
						<xs:documentation>The result of the processing</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="7"/>
							<xs:enumeration value="OK"/>
							<xs:enumeration value="NOT_OK"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="reasonCode">
					<xs:annotation>
						<xs:documentation>The cause of the error or warning</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="message">
					<xs:annotation>
						<xs:documentation>Error message that can be shown to the user</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element default="Dut" minOccurs="0" name="languageCode">
					<xs:annotation>
						<xs:documentation>Code which indicates the language of the message; Codering volgens ISPO 639</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DebuggingInformation">
		<xs:annotation>
			<xs:documentation>GetAccountInformationType</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dateTime" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Het tijdstip dat de "error" of "warning" optrad</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="exceptionCode">
					<xs:annotation>
						<xs:documentation>Foutcode, afgegeven door de applicatie die foutsituatie constateert </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="exceptionMessage">
					<xs:annotation>
						<xs:documentation>Foutboodschap, afgegeven door de applicatie die de foutsituatie constateert. </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="systemId">
					<xs:annotation>
						<xs:documentation>Identificatie van het systeem (bijv. L11: RSL)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="actingComponent">
					<xs:annotation>
						<xs:documentation>Naam van de component/ actieblok dat de fout constateert (bijv.: EAB_Zoek_Relatie)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="contextInformation">
					<xs:annotation>
						<xs:documentation>Aanvullende informatie ten behoeve van debugging (bijv. Identifiers)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PolicyAccount">
		<xs:annotation>
			<xs:documentation>GetAccountInformationType</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="paymentMethod">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="bankAccount">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="18"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="partyReference">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="productGroup">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="IBAN">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="34"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
		<xsd:schema xmlns="http://nn.nl/XSD/Generic/MessageHeader/2" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://nn.nl/XSD/Generic/MessageHeader/2">
		<!-- v0.2.1 -->
	<xsd:element name="MessageHeader" type="MessageHeaderType"/>
	<xsd:element name="Result" type="ResultType"/>
	<xsd:complexType name="MessageHeaderType">
		<xsd:sequence>
			<xsd:element name="From" type="ProducingEndpointType"/>
			<xsd:element name="To" type="ConsumingEndpointType"/>
			<xsd:element name="HeaderFields" type="HeaderFieldType"/>
			<xsd:element minOccurs="0" name="ConnectionInfo" type="ConnectionInfoType"/>
			<xsd:element name="Service" type="ServiceType"/>
			<xsd:element minOccurs="0" name="TraceHeaderList" type="TraceHeaderListType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProducingEndpointType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Unique identification of the initiator.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="Location" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Destination of the endpoint of the initiator. Use when discriminating the Id with an location is of importance.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsumingEndpointType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Id" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Unique identification of the endpoint being invoked.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Location" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Destination of the endpoint being invoked.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HeaderFieldType">
		<xsd:sequence>
			<xsd:element name="CPAId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Collaboration Protocol Agreement ID provided by the initiator of the business value chain of Transactions.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConversationId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Global Unique Identifier (GUID) for the one particular Conversation a message participates in.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MessageId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Global Unique Identifier (GUID) for this message within the scope of the Conversation (see above).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="CorrelationId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Contains the request MessageId as part of the response in order to correlate two messages as part of the same MEP.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ExternalRefToMessageId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Global Unique Identifier (GUID) for the one particular BusinessEvent a message participates in.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Timestamp" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						Date and time message was sent, including the time zone.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="TransactionId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Global Unique Identifier (GUID) for the one particular Transaction a message participates in.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="HeaderProperties" type="PropertiesType">
				<xsd:annotation>
					<xsd:documentation>
						Used as extension on the HeaderFields for future use without backwards compatibility issues in existing implementations.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropertiesType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="HeaderProperty" type="HeaderPropertyType">
				<xsd:annotation>
					<xsd:documentation>
						Repeating structure to accommodate extra properties
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HeaderPropertyType">
		<xsd:attribute name="Name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Attribute describing the name of the property
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Value" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Attribute describing the value of the property
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ConnectionInfoType">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Principal" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						ID or name of the front-end system or application
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="RemoteAddress" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						System name, Full Qualified Domain Name (FQDN) or IP address of the front-end system. Typically used for black-listing or for some investigation purposed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The name of the service being invoked
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Context" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The name of the service context being invoked.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Action" type="ActionType">
				<xsd:annotation>
					<xsd:documentation>
						Identification of the action being performed
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActionType">
		<xsd:sequence>
			<xsd:element name="Paradigm">
				<xsd:annotation>
					<xsd:documentation>
						Identification of the paradigm, can be Request, Response, Event, Action, Solicit, Notification
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Request"/>
						<xsd:enumeration value="Response"/>
						<xsd:enumeration value="Event"/>
						<xsd:enumeration value="Action"/>
						<xsd:enumeration value="Solicit"/>
						<xsd:enumeration value="Notification"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The name of the operation being invoked.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Version" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The major version of the operation being invoked.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TraceHeaderListType">
		<xsd:annotation>
			<xsd:documentation>
				The TraceHeaderList part of the message is used to carry over parts of the header while invoking another operation or service. When a service is composed of multiple other services each header that is received will make up one element in the TraceHeaderList. A new TraceHeader entry is added to the bottom of the list. The newest entry is the lowest entry in a list. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="TraceHeader" type="TraceHeaderType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TraceHeaderType">
		<xsd:sequence>
			<xsd:element name="Sender" type="ProducingEndpointType">
				<xsd:annotation>
					<xsd:documentation>
						This is a copy of the From element
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Receiver" type="ConsumingEndpointType">
				<xsd:annotation>
					<xsd:documentation>
						This is a copy of the To element
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Service" type="ServiceType">
				<xsd:annotation>
					<xsd:documentation>
						This is a copy of the Service element
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MessageData" type="MessageDataType">
				<xsd:annotation>
					<xsd:documentation>
						This element contains a copy of certain fields of the HeaderFields element
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MessageDataType">
		<xsd:sequence>
			<xsd:element name="MessageId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Unique Identifier for this message within the scope of the Conversation (see above). This is a copy of.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Timestamp" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						Date and time message was sent, including the time zone. This is a copy of.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="RefToMessageId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Unique identifier referring to an id passed from an external (front-end) system. This is a copy of.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Status" type="StatusType"/>
			<xsd:element minOccurs="0" name="Retry_Option" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
						A boolean indicating if the invocation can be retried
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResultType">
		<xsd:sequence>
			<xsd:element name="Status" type="StatusType"/>
			<xsd:element minOccurs="0" name="ErrorList" type="ErrorListType">
				<xsd:annotation>
					<xsd:documentation>
						Element which is the parent of all errors elements. Will only be present if the status equals ERROR
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorListType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="Error" type="ErrorType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Canonical error code with fixed value. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Reason" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Canonical reason description of the canonical error. It provides the reason why an error has occurred.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Service" type="ServiceType">
				<xsd:annotation>
					<xsd:documentation>
						Description in which service and operation the error occurred.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="DetailList" type="DetailListType">
				<xsd:annotation>
					<xsd:documentation>
						List of specific non canonical errors.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DetailListType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="Detail" type="DetailType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DetailType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Service specific error code
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="SubCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Application specific error code
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="Text" type="TextType">
				<xsd:annotation>
					<xsd:documentation>
						Detailed description of the error that occurred.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TextType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="language" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							Detailing the language of the error based on ISO 639-1 Code.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="StatusType">
		<xsd:annotation>
			<xsd:documentation>
				A string indicating if the invocation was successful or not. The field may have the value OK or ERROR
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="ERROR"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Message_GetAccountInformationRequest">
		<wsdl:part name="Part_MessageHeader" element="ns2:MessageHeader"/>
		<wsdl:part name="Part_GetAccountInformationRequest" element="ns1:GetAccountInformationRequest"/>
	</wsdl:message>
	<wsdl:message name="Message_GetAccountInformationReply">
		<wsdl:part name="Part_MessageHeader" element="ns2:MessageHeader"/>
		<wsdl:part name="Part_GetAccountInformationReply" element="ns1:GetAccountInformationReply"/>
	</wsdl:message>
	<wsdl:portType name="PortType_input">
		<wsdl:operation name="Operation_GetAccountInformationOnPolicy_2">
			<wsdl:input message="tns:Message_GetAccountInformationRequest"/>
			<wsdl:output message="tns:Message_GetAccountInformationReply"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Binding_input" type="tns:PortType_input">
		<soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
		<jms:binding messageFormat="Text"/>
		<wsdl:operation name="Operation_GetAccountInformationOnPolicy_2">
			<soap:operation style="document" soapAction="GetAccountInformationOnPolicy_2"/>
			<wsdl:input>
				<soap:header part="Part_MessageHeader" use="literal" message="tns:Message_GetAccountInformationRequest"/>
				<soap:body parts="Part_GetAccountInformationRequest" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header part="Part_MessageHeader" use="literal" message="tns:Message_GetAccountInformationReply"/>
				<soap:body parts="Part_GetAccountInformationReply" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Service_input">
		<wsdl:port name="Port_input" binding="tns:Binding_input">
			<soap:address location="jms/dest_input"/>
			<jndi:context>
				<jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
				<jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://host-for-jms%2Fqcf_input-on-LOC:37222</jndi:property>
				<jndi:property name="java.naming.factory.object" type="java.lang.String">com.tibco.tibjms.custom.CustomObjectFactory</jndi:property>
			</jndi:context>
			<jms:connectionFactory>externalJndiName-for-jms/qcf_input-on-LOC</jms:connectionFactory>
			<jms:targetAddress destination="queue">queueName-for-jms/dest_input-on-LOC</jms:targetAddress>
		</wsdl:port>
	</wsdl:service>
	<!--Warning: Could not extract paradigm from soapBody attribute of inputValidator (should end with _Action, _Event, _Request or _Solicit)-->
	<!--Warning: Could not extract paradigm from soapBody attribute of outputValidator (should end with _Response)-->
</wsdl:definitions>
