core/src/test/resources/Align/Any/AnyAttribute.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by  (Nationale Nederlanden) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:anyAttribute" targetNamespace="urn:anyAttribute" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="elemWithAnyAttribute">
					<xs:complexType>
						<xs:attribute name="attr1" type="xs:string"/>
						<xs:anyAttribute namespace="##any" processContents="lax"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>