test/src/main/configurations/MainConfig/ApiWsdlGenerator/wsdl/HiUniverse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://iaf.com/HiUniverse/wsdl/" xmlns:ns1="http://iaf.com/HiUniverse" targetNamespace="http://iaf.com/HiUniverse/wsdl/">
	<wsdl:types>
		<xsd:schema xmlns="http://iaf.com/HiUniverse" xmlns:cmh="http://nn.nl/XSD/Generic/MessageHeader/1" elementFormDefault="qualified" targetNamespace="http://iaf.com/HiUniverse">
			<xsd:element name="HiUniverseREQ" type="xsd:anyType"/>
			<xsd:element name="HiUniverseRLY" type="ResponseType"/>
			<xsd:complexType name="ResponseType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Body" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Message_HiUniverseREQ">
		<wsdl:part name="Part_HiUniverseREQ" element="ns1:HiUniverseREQ"/>
	</wsdl:message>
	<wsdl:message name="Message_HiUniverseRLY">
		<wsdl:part name="Part_HiUniverseRLY" element="ns1:HiUniverseRLY"/>
	</wsdl:message>
	<wsdl:portType name="PortType_HiUniverse"/>
</wsdl:definitions>
