test/src/main/configurations/MainConfig/XmlValidator/FindParty/xsd/V1.20_FindParty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--This Xml Schema was auto-generated by the "Xml Schema
					Flattener".--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tom="http://www.frankframework.org/tom"
            elementFormDefault="qualified"
            tom:agent="TOM"
            tom:package="com.frankframework.tom"
            targetNamespace="http://www.frankframework.org/tom">
   <xsd:element name="FindPartyREQ" type="tom:FindPartyREQ"/>
   <xsd:element name="FindPartyRLY" type="tom:FindPartyRLY"/>
   <xsd:simpleType name="PartyType">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:maxInclusive value="99"/>
        </xsd:restriction>
    </xsd:simpleType>
   <xsd:simpleType name="PartyId">
        <xsd:restriction base="xsd:string">
            <xsd:length value="35"/>
            <xsd:pattern value="\d{35}"/>
        </xsd:restriction>
    </xsd:simpleType>
   <xsd:simpleType name="PartyRecursiveRoleTypeEnum">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:maxInclusive value="99"/>
        </xsd:restriction>
    </xsd:simpleType>
   <xsd:simpleType name="PartyRegistrationTypeEnum">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:maxInclusive value="99"/>
        </xsd:restriction>
    </xsd:simpleType>
   <xsd:simpleType name="RegisteredReference">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
   <xsd:simpleType name="Score">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:maxInclusive value="999"/>
        </xsd:restriction>
    </xsd:simpleType>
   <xsd:simpleType name="NumberOfParties">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:maxInclusive value="999"/>
        </xsd:restriction>
    </xsd:simpleType>
   <xsd:simpleType name="PartyNameId">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="35"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PartyNameUseEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			
			      <xsd:maxInclusive value="99"/>
		
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="FullName">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="300"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="Name">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="150"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="FirstNames">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="28"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="LastName">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="70"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PreTitles">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="20"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PostTitles">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="20"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="TitlesEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="999"/>
			
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="TitleTypeEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			
			      <xsd:maxInclusive value="99"/>
			
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="TitlePositionEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99"/>
		
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="IntroductionEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99"/>
		
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="NameSuffix">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="10"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="Initials">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="24"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="BasicLastName">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="70"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="LastNamePrefix">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="10"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ContactPointUsageTypeEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ContactPointId">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="35"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PostalAddressInformation">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="400"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="TelephoneNumberInformation">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="20"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="FaxNumberInformation">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="20"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="MobilePhoneInformation">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="20"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="SWIFTAddressInformation">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="20"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="EmailAddressInformation">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="120"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ElectronicAddressInformation">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="35"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ElectronicAddressType">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="AddressLines">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="70"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="Street">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="60"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="HouseNumber">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="9"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="HouseNumberAddition">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="6"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="City">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="60"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="OnBoardTypeEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PostalCode">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="8"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="AddressFormatEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="CountryCodeEnum">
		    <xsd:restriction base="xsd:string">
			      <xsd:length value="2"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="Region">
		    <xsd:restriction base="xsd:string">
			      <xsd:length value="60"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="POBox">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99999"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="CareOfName">
		    <xsd:restriction base="xsd:string">
			      <xsd:length value="60"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="GenderEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
		
			      <xsd:maxInclusive value="9"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="LiquidationReasonEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
		
			      <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="LegalFormEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			
			      <xsd:maxInclusive value="99"/>
			
			
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="MaritalStatusEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			
			      <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="AgreementStatus">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="AgreementType">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="70"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="AgreementId">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="35"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ExternalAgreementIdentifier">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="35"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="AgreementInternalExternalIndicator">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="AgreementProcessingStage">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PartyAgreementRoleStatus">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PartyAgreementRoleTypeEnum">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PartyAgreementRoleInternalExternalIndicator">
		    <xsd:restriction base="xsd:nonNegativeInteger">
				     <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PartyAgreementRoleProcessingStage">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="99"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PartyAgreementRoleRoleTypeSequenceNumber">
		    <xsd:restriction base="xsd:nonNegativeInteger">
			      <xsd:maxInclusive value="999"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="Date">
		    <xsd:restriction base="xsd:date"/>
	  </xsd:simpleType>
   <xsd:simpleType name="Occurrence">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="2"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ReturnCode">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="50"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ReturnCodeExtension">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="512"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="LanguageEnum">
		    <xsd:restriction base="xsd:string">
			      <xsd:length value="3"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="AuditTrailInformation">
		    <xsd:restriction base="xsd:string">
			      <xsd:maxLength value="100"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:complexType name="FindPartyREQ">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="Selection1" type="tom:Selection1"/>
                <xsd:element name="Selection2" type="tom:Selection2"/>
                <xsd:element name="Selection3" type="tom:Selection3"/>
                <xsd:element name="Selection4" type="tom:Selection4"/>
                <xsd:element name="Selection5" type="tom:Selection5"/>
                <xsd:element name="Selection6" type="tom:Selection6"/>
                <xsd:element name="Selection7" type="tom:Selection7"/>
                <xsd:element name="Selection8" type="tom:Selection8"/>
                <xsd:element name="Selection9" type="tom:Selection9"/>
                <xsd:element name="Selection10" type="tom:Selection10"/>
                <xsd:element name="Selection11" type="tom:Selection11"/>
                <xsd:element name="Selection12" type="tom:Selection12"/>
                <xsd:element name="Selection13" type="tom:Selection13"/>
                <xsd:element name="Selection14" type="tom:Selection14"/>
                <xsd:element name="Selection15" type="tom:Selection15"/>
                <xsd:element name="Selection16" type="tom:Selection16"/>
                <xsd:element name="Selection17" type="tom:Selection17"/>
                <xsd:element name="Selection18" type="tom:Selection18"/>
                <xsd:element name="Selection19" type="tom:Selection19"/>
                <xsd:element name="Selection20" type="tom:Selection20"/>
                <xsd:element name="Selection21" type="tom:Selection21"/>
                <xsd:element name="Selection22" type="tom:Selection22"/>
                <xsd:element name="Selection23" type="tom:Selection23"/>
                <xsd:element name="Selection24" type="tom:Selection24"/>
                <xsd:element name="Selection25" type="tom:Selection25"/>
                <xsd:element name="Selection26" type="tom:Selection26"/>
                <xsd:element name="Selection27" type="tom:Selection27"/>
                <xsd:element name="Selection28" type="tom:Selection28"/>
                <xsd:element name="Selection29" type="tom:Selection29"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="FindPartyRLY">
        <xsd:sequence>
            <xsd:element name="ReturnCode" type="tom:ReturnCode"/>
            <xsd:element minOccurs="0" name="ReturnCodeExtension" type="tom:ReturnCodeExtension"/>
            <xsd:element name="NumberOfParties" type="tom:NumberOfParties"/>
            <xsd:element maxOccurs="100" minOccurs="0" name="Party" type="tom:Party"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection1">
        <xsd:annotation>
            <xsd:documentation>Set 1 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element minOccurs="0" name="LastName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="LastNamePrefix" type="tom:LastNamePrefix"/>
            <xsd:element minOccurs="0" name="BasicLastName" type="tom:BasicLastName"/>
            <xsd:element minOccurs="0" name="FirstName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="Initials" type="tom:Initials"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection2">
        <xsd:annotation>
            <xsd:documentation> Set 2  of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element minOccurs="0" name="LastName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="LastNamePrefix" type="tom:LastNamePrefix"/>
            <xsd:element minOccurs="0" name="BasicLastName" type="tom:BasicLastName"/>
            <xsd:element minOccurs="0" name="FirstName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="Initials" type="tom:Initials"/>
            <xsd:element name="BirthDate" type="tom:Date"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection3">
        <xsd:annotation>
            <xsd:documentation> Set 3 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element minOccurs="0" name="LastName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="LastNamePrefix" type="tom:LastNamePrefix"/>
            <xsd:element minOccurs="0" name="BasicLastName" type="tom:BasicLastName"/>
            <xsd:element minOccurs="0" name="FirstName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="Initials" type="tom:Initials"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="PostalCode" type="tom:PostalCode"/>
            <xsd:element name="HouseNumber" type="tom:HouseNumber"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection4">
        <xsd:annotation>
            <xsd:documentation> Set 4  of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element minOccurs="0" name="LastName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="LastNamePrefix" type="tom:LastNamePrefix"/>
            <xsd:element minOccurs="0" name="BasicLastName" type="tom:BasicLastName"/>
            <xsd:element minOccurs="0" name="FirstName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="Initials" type="tom:Initials"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="Street" type="tom:Street"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection5">
        <xsd:annotation>
            <xsd:documentation> Set 5 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element minOccurs="0" name="LastName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="LastNamePrefix" type="tom:LastNamePrefix"/>
            <xsd:element minOccurs="0" name="BasicLastName" type="tom:BasicLastName"/>
            <xsd:element minOccurs="0" name="FirstName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="Initials" type="tom:Initials"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="Street" type="tom:Street"/>
            <xsd:element name="HouseNumber" type="tom:HouseNumber"/>
            <xsd:element name="City" type="tom:City"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection6">
        <xsd:annotation>
            <xsd:documentation> Set 6 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element minOccurs="0" name="LastName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="LastNamePrefix" type="tom:LastNamePrefix"/>
            <xsd:element minOccurs="0" name="BasicLastName" type="tom:BasicLastName"/>
            <xsd:element minOccurs="0" name="FirstName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="Initials" type="tom:Initials"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="CountryCode" type="tom:CountryCodeEnum"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection7">
        <xsd:annotation>
            <xsd:documentation> Set 7 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="BirthDate" type="tom:Date"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="PostalCode" type="tom:PostalCode"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection8">
        <xsd:annotation>
            <xsd:documentation> Set 8 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="PostalCode" type="tom:PostalCode"/>
            <xsd:element name="HouseNumber" type="tom:HouseNumber"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection9">
        <xsd:annotation>
            <xsd:documentation> Set 9 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="NationalIdentifier" type="tom:RegisteredReference"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection10">
        <xsd:annotation>
            <xsd:documentation> Set 10 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="TelephoneNumber" type="tom:TelephoneNumberInformation"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection11">
        <xsd:annotation>
            <xsd:documentation> Set 11 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="VATNr" type="tom:RegisteredReference"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection12">
        <xsd:annotation>
            <xsd:documentation> Set 12 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Agreement" type="tom:AgreementIdentifier"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection13">
        <xsd:annotation>
            <xsd:documentation> Set 13 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element name="Name" type="tom:Name"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection14">
        <xsd:annotation>
            <xsd:documentation> Set 14 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element name="Name" type="tom:Name"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="PostalCode" type="tom:PostalCode"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection15">
        <xsd:annotation>
            <xsd:documentation> Set 15 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element name="Name" type="tom:Name"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="PostalCode" type="tom:PostalCode"/>
            <xsd:element name="HouseNumber" type="tom:HouseNumber"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection16">
        <xsd:annotation>
            <xsd:documentation> Set 16 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element name="Name" type="tom:Name"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="Street" type="tom:Street"/>
            <xsd:element name="HouseNumber" type="tom:HouseNumber"/>
            <xsd:element name="City" type="tom:City"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection17">
        <xsd:annotation>
            <xsd:documentation> Set 17 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element name="Name" type="tom:Name"/>
            <xsd:element name="FoundationDate" type="tom:Date"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection18">
        <xsd:annotation>
            <xsd:documentation> Set 18 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element name="Name" type="tom:Name"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="CountryCode" type="tom:CountryCodeEnum"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection19">
        <xsd:annotation>
            <xsd:documentation> Set 19 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="ChamberOfCommerceNr" type="tom:RegisteredReference"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection20">
        <xsd:annotation>
            <xsd:documentation> Set 20 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element minOccurs="0" name="LastName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="LastNamePrefix" type="tom:LastNamePrefix"/>
            <xsd:element minOccurs="0" name="BasicLastName" type="tom:BasicLastName"/>
            <xsd:element minOccurs="0" name="Initials" type="tom:Initials"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="City" type="tom:City"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection21">
        <xsd:annotation>
            <xsd:documentation> Set 21 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element minOccurs="0" name="Name" type="tom:Name"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="City" type="tom:City"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection22">
        <xsd:annotation>
            <xsd:documentation> Set 22 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="City" type="tom:City"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection23">
        <xsd:annotation>
            <xsd:documentation> Set 23 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="City" type="tom:City"/>
            <xsd:element name="POBox" type="tom:POBox"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection24">
        <xsd:annotation>
            <xsd:documentation> Set 24 of selection criteria in the
                request - general request for persons</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element minOccurs="0" name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element minOccurs="0" name="LastName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="LastNamePrefix" type="tom:LastNamePrefix"/>
            <xsd:element minOccurs="0" name="BasicLastName" type="tom:BasicLastName"/>
            <xsd:element minOccurs="0" name="FirstName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="Initials" type="tom:Initials"/>
            <xsd:element minOccurs="0" name="BirthDate" type="tom:Date"/>
            <xsd:element minOccurs="0" name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element minOccurs="0" name="PostalCode" type="tom:PostalCode"/>
            <xsd:element minOccurs="0" name="HouseNumber" type="tom:HouseNumber"/>
            <xsd:element minOccurs="0" name="Street" type="tom:Street"/>
            <xsd:element minOccurs="0" name="City" type="tom:City"/>
            <xsd:element minOccurs="0" name="POBox" type="tom:POBox"/>
            <xsd:element minOccurs="0" name="CountryCode" type="tom:CountryCodeEnum"/>
            <xsd:element minOccurs="0" name="NationalIdentifier" type="tom:RegisteredReference"/>
            <xsd:element minOccurs="0" name="TelephoneNumber" type="tom:TelephoneNumberInformation"/>
            <xsd:element minOccurs="0" name="VATNr" type="tom:RegisteredReference"/>
            <xsd:element minOccurs="0" name="SocialSecurityNumber" type="tom:RegisteredReference"/>
            <xsd:element minOccurs="0" name="Agreement" type="tom:AgreementIdentifier"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection25">
        <xsd:annotation>
            <xsd:documentation> Set 25 of selection criteria in the
                request - general request for organisations</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element minOccurs="0" name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element minOccurs="0" name="Name" type="tom:Name"/>
            <xsd:element minOccurs="0" name="FoundationDate" type="tom:Date"/>
            <xsd:element minOccurs="0" name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element minOccurs="0" name="PostalCode" type="tom:PostalCode"/>
            <xsd:element minOccurs="0" name="HouseNumber" type="tom:HouseNumber"/>
            <xsd:element minOccurs="0" name="Street" type="tom:Street"/>
            <xsd:element minOccurs="0" name="City" type="tom:City"/>
            <xsd:element minOccurs="0" name="POBox" type="tom:POBox"/>
            <xsd:element minOccurs="0" name="CountryCode" type="tom:CountryCodeEnum"/>
            <xsd:element minOccurs="0" name="ChamberOfCommerceNr" type="tom:RegisteredReference"/>
            <xsd:element minOccurs="0" name="TelephoneNumber" type="tom:TelephoneNumberInformation"/>
            <xsd:element minOccurs="0" name="VATNr" type="tom:RegisteredReference"/>
            <xsd:element minOccurs="0" name="SocialSecurityNumber" type="tom:RegisteredReference"/>
            <xsd:element minOccurs="0" name="Agreement" type="tom:AgreementIdentifier"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection26">
        <xsd:annotation>
            <xsd:documentation> Set 26 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="PostalCode" type="tom:PostalCode"/>
            <xsd:element name="Street" type="tom:Street"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection27">
        <xsd:annotation>
            <xsd:documentation> Set 27 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="SocialSecurityNumber" type="tom:RegisteredReference"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection28">
        <xsd:annotation>
            <xsd:documentation> Set 28 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element minOccurs="0" name="LastName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="LastNamePrefix" type="tom:LastNamePrefix"/>
            <xsd:element minOccurs="0" name="BasicLastName" type="tom:BasicLastName"/>
            <xsd:element minOccurs="0" name="FirstName" type="tom:LastName"/>
            <xsd:element minOccurs="0" name="Initials" type="tom:Initials"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="PostalCode" type="tom:PostalCode"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Selection29">
        <xsd:annotation>
            <xsd:documentation> Set 29 of selection criteria in the request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PartyType" type="tom:PartyType"/>
            <xsd:element name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element name="Name" type="tom:Name"/>
            <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum"/>
            <xsd:element name="Street" type="tom:Street"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="AgreementIdentifier">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="InternalExternalIndicator"
                      type="tom:AgreementInternalExternalIndicator"/>
            <xsd:choice>
                <xsd:element minOccurs="0" name="InternalAgreement" type="tom:InternalAgreementId"/>
                <xsd:element minOccurs="0" name="ExternalAgreement" type="tom:ExternalAgreementId"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="InternalAgreementId">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Id" type="tom:AgreementId"/>
            <xsd:element minOccurs="0" name="ExternalAgreementIdentifier"
                      type="tom:ExternalAgreementIdentifier"/>
            <xsd:element minOccurs="0" name="AgreementType" type="tom:AgreementType"/>
            <xsd:element minOccurs="0" name="SalesOrganisation" type="tom:SalesOrganisation"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="ExternalAgreementId">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Id" type="tom:AgreementId"/>
            <xsd:element minOccurs="0" name="AgreementType" type="tom:AgreementType"/>
            <xsd:element minOccurs="0" name="ExternalOrganisation" type="tom:ExternalOrganisation"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="SalesOrganisation">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="SalesOrgRole" type="tom:PartyAgreementRoleTypeEnum"/>
            <xsd:element minOccurs="0" name="Id" type="tom:PartyId"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="ExternalOrganisation">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ExternalOrgRole" type="tom:PartyAgreementRoleTypeEnum"/>
            <xsd:element minOccurs="0" name="Id" type="tom:PartyId"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Party">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Id" type="tom:PartyId"/>
            <xsd:element minOccurs="0" name="PartyType" type="tom:PartyType"/>
            <xsd:element minOccurs="0" name="Score" type="tom:Score"/>
            <xsd:element minOccurs="0" name="PreferredLanguage" type="tom:LanguageEnum"/>
            <xsd:choice>
                <xsd:element minOccurs="0" name="Person" type="tom:Person"/>
                <xsd:element minOccurs="0" name="Organisation" type="tom:Organisation"/>
            </xsd:choice>
            <xsd:element minOccurs="0" name="PostalAddressContactPointUsage"
                      type="tom:PostalAddressContactPointUsage"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Organisation">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OrganisationName" type="tom:OrganisationName"/>
            <xsd:element minOccurs="0" name="LegalForm" type="tom:LegalForm"/>
            <xsd:element minOccurs="0" name="Demographics" type="tom:OrganisationDemographics"/>
            <xsd:element maxOccurs="3" minOccurs="0" name="PartyRegistration"
                      type="tom:PartyRegistration"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="OrganisationDemographics">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="FoundationDate" type="tom:Date"/>
            <xsd:element minOccurs="0" name="LiquidationDate" type="tom:Date"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="Person">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PersonName" type="tom:PersonName"/>
            <xsd:element minOccurs="0" name="Demographics" type="tom:PersonDemographics"/>
            <xsd:element minOccurs="0" name="PartyRecursiveRole" type="tom:PartyRecursiveRole"/>
            <xsd:element minOccurs="0" name="PartyRegistration" type="tom:PartyRegistration"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="PersonDemographics">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Gender" type="tom:GenderEnum"/>
            <xsd:element minOccurs="0" name="BirthDate" type="tom:Date"/>
            <xsd:element minOccurs="0" name="DeathDate" type="tom:Date"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="PartyRecursiveRole">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PartyRecursiveType" type="tom:PartyRecursiveRoleTypeEnum"/>
            <xsd:element minOccurs="0" name="Use" type="tom:PartyNameUseEnum"/>
            <xsd:element minOccurs="0" name="FullName" type="tom:FullName"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="PartyRegistration">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PartyRegistrationType" type="tom:PartyRegistrationTypeEnum"/>
            <xsd:element minOccurs="0" name="RegisteredReference" type="tom:RegisteredReference"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="PostalAddressContactPointUsage">
		    <xsd:sequence>
			      <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum" minOccurs="0"/>
			      <xsd:element name="PreferredLanguage" type="tom:LanguageEnum" minOccurs="0"/>
			      <xsd:element name="PostalAddress" type="tom:PostalAddress" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="TelephoneNumberContactPointUsage">
		    <xsd:sequence>
			      <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum" minOccurs="0"/>
			      <xsd:element name="TelephoneNumber" type="tom:TelephoneNumber" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="MobilePhoneContactPointUsage">
		    <xsd:sequence>
			      <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum" minOccurs="0"/>
			      <xsd:element name="MobilePhone" type="tom:MobilePhone" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="FaxNumberContactPointUsage">
		    <xsd:sequence>
			      <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum" minOccurs="0"/>
			      <xsd:element name="FaxNumber" type="tom:FaxNumber" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="EmailAddressContactPointUsage">
		    <xsd:sequence>
			      <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum" minOccurs="0"/>
			      <xsd:element name="EmailAddress" type="tom:EmailAddress" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="ElectronicAddressContactPointUsage">
		    <xsd:sequence>
			      <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum" minOccurs="0"/>
			      <xsd:element name="ElectronicAddress" type="tom:ElectronicAddress" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="SWIFTAddressContactPointUsage">
		    <xsd:sequence>
			      <xsd:element name="ContactPointUsageType" type="tom:ContactPointUsageTypeEnum" minOccurs="0"/>
			      <xsd:element name="SWIFTAddress" type="tom:SWIFTAddress" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="PostalAddress">
		    <xsd:sequence>
			      <xsd:element name="Id" type="tom:ContactPointId" minOccurs="0"/>
			      <xsd:element name="PostalAddressInformation" type="tom:PostalAddressInformation"
                      minOccurs="0"/>
			      <xsd:element name="AddressLines" type="tom:AddressLines" minOccurs="0"/>
			      <xsd:element name="Street" type="tom:Street" minOccurs="0"/>
			      <xsd:element name="HouseNumber" type="tom:HouseNumber" minOccurs="0"/>
			      <xsd:element name="HouseNumberAddition" type="tom:HouseNumberAddition" minOccurs="0"/>
			      <xsd:element name="Postalcode" type="tom:PostalCode" minOccurs="0"/>
			      <xsd:element name="OnBoardtype" type="tom:OnBoardTypeEnum" minOccurs="0"/>
			      <xsd:element name="Addressformat" type="tom:AddressFormatEnum" minOccurs="0"/>
			      <xsd:element name="City" type="tom:City" minOccurs="0"/>
			      <xsd:element name="Region" type="tom:Region" minOccurs="0"/>
			      <xsd:element name="POBox" type="tom:POBox" minOccurs="0"/>
			      <xsd:element name="CountryCode" type="tom:CountryCodeEnum" minOccurs="0"/>
			      <xsd:element name="CareOfName" type="tom:CareOfName" minOccurs="0"/>
			      <xsd:element name="StartDate" type="tom:Date" minOccurs="0"/>
			      <xsd:element name="EndDate" type="tom:Date" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="TelephoneNumber">
		    <xsd:sequence>
			      <xsd:element name="Id" type="tom:ContactPointId" minOccurs="0"/>
			      <xsd:element name="TelephoneNumberInformation" type="tom:TelephoneNumberInformation"
                      minOccurs="0"/>
			      <xsd:element name="StartDate" type="tom:Date" minOccurs="0"/>
			      <xsd:element name="EndDate" type="tom:Date" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="FaxNumber">
		    <xsd:sequence>
			      <xsd:element name="Id" type="tom:ContactPointId" minOccurs="0"/>
			      <xsd:element name="FaxNumberInformation" type="tom:FaxNumberInformation" minOccurs="0"/>
			      <xsd:element name="StartDate" type="tom:Date" minOccurs="0"/>
			      <xsd:element name="EndDate" type="tom:Date" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="MobilePhone">
		    <xsd:sequence>
			      <xsd:element name="Id" type="tom:ContactPointId" minOccurs="0"/>
			      <xsd:element name="MobilePhoneInformation" type="tom:MobilePhoneInformation" minOccurs="0"/>
			      <xsd:element name="StartDate" type="tom:Date" minOccurs="0"/>
			      <xsd:element name="EndDate" type="tom:Date" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="SWIFTAddress">
		    <xsd:sequence>
			      <xsd:element name="Id" type="tom:ContactPointId" minOccurs="0"/>
			      <xsd:element name="SWIFTAddressInformation" type="tom:SWIFTAddressInformation" minOccurs="0"/>
			      <xsd:element name="StartDate" type="tom:Date" minOccurs="0"/>
			      <xsd:element name="EndDate" type="tom:Date" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="EmailAddress">
		    <xsd:sequence>
			      <xsd:element name="Id" type="tom:ContactPointId" minOccurs="0"/>
			      <xsd:element name="EmailAddressInformation" type="tom:EmailAddressInformation" minOccurs="0"/>
			      <xsd:element name="StartDate" type="tom:Date" minOccurs="0"/>
			      <xsd:element name="EndDate" type="tom:Date" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="ElectronicAddress">
		    <xsd:sequence>
			      <xsd:element name="Id" type="tom:ContactPointId" minOccurs="0"/>
			      <xsd:element name="ElectronicAddressType" type="tom:ElectronicAddressType" minOccurs="0"/>
			      <xsd:element name="ElectronicAddressInformation" type="tom:ElectronicAddressInformation"
                      minOccurs="0"/>
			      <xsd:element name="StartDate" type="tom:Date" minOccurs="0"/>
			      <xsd:element name="EndDate" type="tom:Date" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="PersonName">
		    <xsd:sequence>
			      <xsd:element name="Id" type="tom:PartyNameId" minOccurs="0"/>
			      <xsd:element name="Use" type="tom:PartyNameUseEnum" minOccurs="0"/>
			      <xsd:element name="FullName" type="tom:FullName" minOccurs="0"/>
			      <xsd:element name="Language" type="tom:LanguageEnum" minOccurs="0"/>
			      <xsd:element name="FirstNames" type="tom:FirstNames" minOccurs="0"/>
			      <xsd:element name="LastName" type="tom:LastName" minOccurs="0"/>
			      <xsd:element name="PreTitles" type="tom:PreTitles" minOccurs="0"/>
			      <xsd:element name="PostTitles" type="tom:PostTitles" minOccurs="0"/>
			      <xsd:element name="Titles" type="tom:Titles" minOccurs="0" maxOccurs="5"/>
			      <xsd:element name="Introduction" type="tom:Introduction" minOccurs="0"/>
			      <xsd:element name="NameSuffix" type="tom:NameSuffix" minOccurs="0"/>
			      <xsd:element name="Initials" type="tom:Initials" minOccurs="0"/>
			      <xsd:element name="BasicLastName" type="tom:BasicLastName" minOccurs="0"/>
			      <xsd:element name="LastNamePrefix" type="tom:LastNamePrefix" minOccurs="0"/>
			      <xsd:element name="PartnerName" type="tom:LastName" minOccurs="0"/>
			      <xsd:element name="PartnerNamePrefix" type="tom:LastNamePrefix" minOccurs="0"/>
			      <xsd:element name="BasicPartnerName" type="tom:BasicLastName" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="Titles">
		    <xsd:sequence>
			      <xsd:element name="TitleType" type="tom:TitleTypeEnum" minOccurs="0"/>
			      <xsd:element name="Title" type="tom:TitlesEnum" minOccurs="0"/>
			      <xsd:element name="TitlePosition" type="tom:TitlePositionEnum" minOccurs="0"/>
			      <xsd:element name="Occurrence" type="tom:Occurrence" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="Introduction">
		    <xsd:sequence>
			      <xsd:element name="IntroductionEnum" type="tom:IntroductionEnum" minOccurs="0"/>
			      <xsd:element name="Occurrence" type="tom:Occurrence" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="OrganisationName">
		    <xsd:sequence>
			      <xsd:element name="Id" type="tom:PartyNameId" minOccurs="0"/>
			      <xsd:element name="Use" type="tom:PartyNameUseEnum" minOccurs="0"/>
			      <xsd:element name="Name" type="tom:Name" minOccurs="0"/>
			      <xsd:element name="Language" type="tom:LanguageEnum" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="LegalForm">
		    <xsd:sequence>
			      <xsd:element name="LegalFormEnum" type="tom:LegalFormEnum" minOccurs="0"/>
			      <xsd:element name="Occurrence" type="tom:Occurrence" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="MaritalStatus">
		    <xsd:sequence>
			      <xsd:element name="MaritalStatusEnum" type="tom:MaritalStatusEnum" minOccurs="0"/>
			      <xsd:element name="Occurrence" type="tom:Occurrence" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="LiquidationReason">
		    <xsd:sequence>
			      <xsd:element name="LiquidationReasonEnum" type="tom:LiquidationReasonEnum" minOccurs="0"/>
			      <xsd:element name="Occurrence" type="tom:Occurrence" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
</xsd:schema>