test/src/test/testtool/WsdlGeneratorPipe/03/out.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"
	xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:tns="http://nn.nl/WSDL/Account/Information/1/GetPaymentReferenceAndPayLink/1" xmlns:ns1="http://nn.nl/XSD/Account/Information/1/GetPaymentReferenceAndPayLink/1"
	xmlns:ns3="http://nn.nl/XSD/Generic/MessageHeader/2" targetNamespace="http://nn.nl/WSDL/Account/Information/1/GetPaymentReferenceAndPayLink/1">
	<wsdl:documentation>Generated as Account_Information_1_GetPaymentReferenceAndPayLink_1_concrete.wsdl by ibis4test on 2016-02-24T14:04:16CET.</wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://nn.nl/XSD/Account/Information/1/GetPaymentReferenceAndPayLink/1" xmlns:cmh="http://nn.nl/XSD/Generic/MessageHeader/2" xmlns:mtp="http://nn.nl/XSD/Account/Information/DomainValues" targetNamespace="http://nn.nl/XSD/Account/Information/1/GetPaymentReferenceAndPayLink/1" attributeFormDefault="unqualified" elementFormDefault="qualified">
			<xs:import namespace="http://nn.nl/XSD/Generic/MessageHeader/2"/>
			<xs:import namespace="http://nn.nl/XSD/Account/Information/DomainValues"/>
	
	
	<xs:element name="GetPaymentReferenceAndPayLink_Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Debtor">
					<xs:annotation>
						<xs:documentation>Debtor contains the debtor information required by the MailToPay API including restrictions defined by aforementioned API</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LastName" type="xs:string"/>
							<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
							<xs:element name="Partner" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Contract">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PayableItems" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DocumentNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RepetitionItem">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DocumentItemNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="04"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SubItem">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="03"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TotalAmount" type="mtp:AmountType"/>
				<xs:element name="Invoice">
					<xs:annotation>
						<xs:documentation>Invoice is based on the invoice fields required by the MailToPay API including restrictions defined by aforementioned API</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Description" type="mtp:InvoiceDescriptionType"/>
							<xs:element name="Date" type="mtp:InvoiceDateType"/>
							<xs:element name="DueDate" type="mtp:InvoiceDueDateType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>DueDate has a cosmetic function and is not used to determine experation date</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PaymentData">
					<xs:annotation>
						<xs:documentation>PaymentData holds fields required by the MailToPay API to process the GetPaylink request</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BatchId" type="mtp:BatchIdType"/>
							<xs:element name="Concerning" type="mtp:ConcerningType"/>
							<xs:element name="ExpirationDate" type="mtp:ExpirationDateType"/>
							<xs:element name="ReturnURL" type="mtp:ReturnURLType">
								<xs:annotation>
									<xs:documentation>ReturnURL is the URL to which the customer should be send after completing the transaction</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPaymentReferenceAndPayLink_Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PaymentDetails" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PaymentId" type="mtp:PaymentIdType"/>
							<xs:element name="PaymentURL" type="mtp:PaymentURLType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="cmh:Result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://nn.nl/XSD/Account/Information/DomainValues" targetNamespace="http://nn.nl/XSD/Account/Information/DomainValues" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:simpleType name="InvoiceNumberType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InvoiceDateType">
		<xs:restriction base="DateType"/>
	</xs:simpleType>
	<xs:simpleType name="InvoiceDescriptionType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InvoiceAmountType">
		<xs:restriction base="AmountType"/>
	</xs:simpleType>
	<xs:simpleType name="InvoiceDueDateType">
		<xs:restriction base="DateType"/>
	</xs:simpleType>
	<xs:simpleType name="InvoiceIBANType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BatchIdType">
		<xs:annotation>
			<xs:documentation>BatchId is used to group payments together in the MailToPay administrator interface</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConcerningType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExpirationDateType">
		<xs:annotation>
			<xs:documentation>ExpirationDate is the date after which the Payment URL expires</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateType"/>
	</xs:simpleType>
	<xs:simpleType name="PaymentReferenceType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReturnURLType">
		<xs:annotation>
			<xs:documentation>ReturnURL is the URL to which the customer should be send after completing the transaction</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusCodeType">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="StatusDateType">
		<xs:restriction base="DateType"/>
	</xs:simpleType>
	<xs:simpleType name="StatusDescriptionType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PaymentIdType">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="PaymentURLType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FirstNameType">
		<xs:annotation>
			<xs:documentation>FirstName restriction is based on restrictions in the MailToPay API</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastNameType">
		<xs:annotation>
			<xs:documentation>LastName restriction is based on restrictions in the MailToPay API</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateType">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="AmountType">
		<xs:annotation>
			<xs:documentation>Amount format</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="13"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
		<xsd:schema xmlns="http://nn.nl/XSD/Generic/MessageHeader/2" targetNamespace="http://nn.nl/XSD/Generic/MessageHeader/2" attributeFormDefault="unqualified" elementFormDefault="qualified">
		<!-- v0.2.1 -->
	<xsd:element name="MessageHeader" type="MessageHeaderType"/>
	<xsd:element name="Result" type="ResultType"/>
	<xsd:complexType name="MessageHeaderType">
		<xsd:sequence>
			<xsd:element name="From" type="ProducingEndpointType"/>
			<xsd:element name="To" type="ConsumingEndpointType"/>
			<xsd:element name="HeaderFields" type="HeaderFieldType"/>
			<xsd:element name="ConnectionInfo" type="ConnectionInfoType" minOccurs="0"/>
			<xsd:element name="Service" type="ServiceType"/>
			<xsd:element name="TraceHeaderList" type="TraceHeaderListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProducingEndpointType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Unique identification of the initiator.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Location" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Destination of the endpoint of the initiator. Use when discriminating the Id with an location is of importance.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsumingEndpointType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Unique identification of the endpoint being invoked.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Location" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Destination of the endpoint being invoked.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HeaderFieldType">
		<xsd:sequence>
			<xsd:element name="CPAId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Collaboration Protocol Agreement ID provided by the initiator of the business value chain of Transactions.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConversationId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Global Unique Identifier (GUID) for the one particular Conversation a message participates in.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MessageId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Global Unique Identifier (GUID) for this message within the scope of the Conversation (see above).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CorrelationId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Contains the request MessageId as part of the response in order to correlate two messages as part of the same MEP.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExternalRefToMessageId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Global Unique Identifier (GUID) for the one particular BusinessEvent a message participates in.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Timestamp" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						Date and time message was sent, including the time zone.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransactionId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Global Unique Identifier (GUID) for the one particular Transaction a message participates in.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeaderProperties" type="PropertiesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Used as extension on the HeaderFields for future use without backwards compatibility issues in existing implementations.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropertiesType">
		<xsd:sequence>
			<xsd:element name="HeaderProperty" maxOccurs="unbounded" type="HeaderPropertyType">
				<xsd:annotation>
					<xsd:documentation>
						Repeating structure to accommodate extra properties
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HeaderPropertyType">
		<xsd:attribute name="Name" use="required" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					Attribute describing the name of the property
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Value" use="required" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					Attribute describing the value of the property
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ConnectionInfoType">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Principal" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						ID or name of the front-end system or application
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RemoteAddress" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						System name, Full Qualified Domain Name (FQDN) or IP address of the front-end system. Typically used for black-listing or for some investigation purposed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The name of the service being invoked
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Context" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The name of the service context being invoked.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Action" type="ActionType">
				<xsd:annotation>
					<xsd:documentation>
						Identification of the action being performed
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActionType">
		<xsd:sequence>
			<xsd:element name="Paradigm">
				<xsd:annotation>
					<xsd:documentation>
						Identification of the paradigm, can be Request, Response, Event, Action, Solicit, Notification
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Request"/>
						<xsd:enumeration value="Response"/>
						<xsd:enumeration value="Event"/>
						<xsd:enumeration value="Action"/>
						<xsd:enumeration value="Solicit"/>
						<xsd:enumeration value="Notification"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The name of the operation being invoked.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Version" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The major version of the operation being invoked.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TraceHeaderListType">
		<xsd:annotation>
			<xsd:documentation>
				The TraceHeaderList part of the message is used to carry over parts of the header while invoking another operation or service. When a service is composed of multiple other services each header that is received will make up one element in the TraceHeaderList. A new TraceHeader entry is added to the bottom of the list. The newest entry is the lowest entry in a list. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TraceHeader" maxOccurs="unbounded" type="TraceHeaderType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TraceHeaderType">
		<xsd:sequence>
			<xsd:element name="Sender" type="ProducingEndpointType">
				<xsd:annotation>
					<xsd:documentation>
						This is a copy of the From element
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Receiver" type="ConsumingEndpointType">
				<xsd:annotation>
					<xsd:documentation>
						This is a copy of the To element
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Service" type="ServiceType">
				<xsd:annotation>
					<xsd:documentation>
						This is a copy of the Service element
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MessageData" type="MessageDataType">
				<xsd:annotation>
					<xsd:documentation>
						This element contains a copy of certain fields of the HeaderFields element
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MessageDataType">
		<xsd:sequence>
			<xsd:element name="MessageId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Unique Identifier for this message within the scope of the Conversation (see above). This is a copy of.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Timestamp" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						Date and time message was sent, including the time zone. This is a copy of.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RefToMessageId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Unique identifier referring to an id passed from an external (front-end) system. This is a copy of.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Status" type="StatusType"/>
			<xsd:element name="Retry_Option" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						A boolean indicating if the invocation can be retried
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResultType">
		<xsd:sequence>
			<xsd:element name="Status" type="StatusType"/>
			<xsd:element name="ErrorList" type="ErrorListType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Element which is the parent of all errors elements. Will only be present if the status equals ERROR
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorListType">
		<xsd:sequence>
			<xsd:element name="Error" maxOccurs="unbounded" type="ErrorType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Canonical error code with fixed value. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Reason" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Canonical reason description of the canonical error. It provides the reason why an error has occurred.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Service" type="ServiceType">
				<xsd:annotation>
					<xsd:documentation>
						Description in which service and operation the error occurred.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DetailList" type="DetailListType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						List of specific non canonical errors.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DetailListType">
		<xsd:sequence>
			<xsd:element name="Detail" maxOccurs="unbounded" type="DetailType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DetailType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Service specific error code
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubCode" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Application specific error code
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Text" type="TextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Detailed description of the error that occurred.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TextType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="language" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							Detailing the language of the error based on ISO 639-1 Code.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="StatusType">
		<xsd:annotation>
			<xsd:documentation>
				A string indicating if the invocation was successful or not. The field may have the value OK or ERROR
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="ERROR"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Message_GetPaymentReferenceAndPayLink_Request">
		<wsdl:part name="Part_MessageHeader" element="ns3:MessageHeader"/>
		<wsdl:part name="Part_GetPaymentReferenceAndPayLink_Request" element="ns1:GetPaymentReferenceAndPayLink_Request"/>
	</wsdl:message>
	<wsdl:message name="Message_GetPaymentReferenceAndPayLink_Response">
		<wsdl:part name="Part_MessageHeader" element="ns3:MessageHeader"/>
		<wsdl:part name="Part_GetPaymentReferenceAndPayLink_Response" element="ns1:GetPaymentReferenceAndPayLink_Response"/>
	</wsdl:message>
	<wsdl:portType name="PortType_input">
		<wsdl:operation name="Operation_GetPaymentReferenceAndPayLink_1">
			<wsdl:input message="tns:Message_GetPaymentReferenceAndPayLink_Request"/>
			<wsdl:output message="tns:Message_GetPaymentReferenceAndPayLink_Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Binding_input" type="tns:PortType_input">
		<soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
		<jms:binding messageFormat="Text"/>
		<wsdl:operation name="Operation_GetPaymentReferenceAndPayLink_1">
			<soap:operation style="document" soapAction="GetPaymentReferenceAndPayLink_1"/>
			<wsdl:input>
				<soap:header part="Part_MessageHeader" use="literal" message="tns:Message_GetPaymentReferenceAndPayLink_Request"/>
				<soap:body parts="Part_GetPaymentReferenceAndPayLink_Request" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header part="Part_MessageHeader" use="literal" message="tns:Message_GetPaymentReferenceAndPayLink_Response"/>
				<soap:body parts="Part_GetPaymentReferenceAndPayLink_Response" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Service_input">
		<wsdl:port name="Port_input" binding="tns:Binding_input">
			<soap:address location="jms/dest_input"/>
			<jndi:context>
				<jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
				<jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://host-for-jms%2Fqcf_input-on-LOC:37222</jndi:property>
				<jndi:property name="java.naming.factory.object" type="java.lang.String">com.tibco.tibjms.custom.CustomObjectFactory</jndi:property>
			</jndi:context>
			<jms:connectionFactory>externalJndiName-for-jms/qcf_input-on-LOC</jms:connectionFactory>
			<jms:targetAddress destination="queue">queueName-for-jms/dest_input-on-LOC</jms:targetAddress>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
