example/src/main/resources/Feedback/xsd/Feedback.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<xs:element name="root">
		<xs:complexType>
			<xs:all>
				<xs:element name="rating">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="feedback" type="xs:string" />		
				<xs:element name="name" type="xs:string" />
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>