core/src/test/resources/Validation/Parameters/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="a" type="xs:string" />
				<xs:element name="b" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="c" type="xs:string" minOccurs="0" />
				<xs:element name="d" type="xs:string" minOccurs="0" />
				<xs:element name="e" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
