core/src/test/resources/Management/WebServices/wsdl-without-includes.wsdl

<wsdl:definitions targetNamespace="urn:test/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:test/wsdl/" xmlns:ns1="http://xmlns/b" xmlns:ns2="urn:test">
	<wsdl:documentation>Generated by FrankConsole as wsl-adapter.wsdl on -timestamp-.</wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns/b" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns/b">
			<xs:element name="B"/>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:test" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="urn:test" xmlns:b="http://xmlns/b" xmlns="urn:test">
			<xs:import namespace="http://xmlns/b"/>
			<xs:element name="Envelope">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Body">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="a:A"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="A">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="2" minOccurs="0" ref="b:B"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:portType name="PortType_wsl-adapter">
		<wsdl:operation name="Operation_defaultAction"/>
	</wsdl:portType>
	<wsdl:binding name="Binding_wsl-adapter" type="tns:PortType_wsl-adapter">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Operation_defaultAction">
			<soap:operation soapAction="defaultAction" style="document"/>
			<wsdl:input/>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Service_wsl-adapter">
		<wsdl:port binding="tns:Binding_wsl-adapter" name="Port_wsl-adapter">
			<soap:address location="/services/rpcrouter"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>