core/src/test/resources/WsdlTest/webservice1.test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:webservice1/wsdl/" xmlns:ns1="urn:webservice1" targetNamespace="urn:webservice1/wsdl/">
	<wsdl:documentation>test</wsdl:documentation>
	<wsdl:types>
		<xsd:schema xmlns="urn:webservice1" elementFormDefault="qualified" targetNamespace="urn:webservice1">
    <xsd:element name="a">
    </xsd:element>
    <xsd:element name="b">
    </xsd:element>
</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Message_a">
		<wsdl:part name="Part_a" element="ns1:a"/>
	</wsdl:message>
	<wsdl:message name="Message_b">
		<wsdl:part name="Part_b" element="ns1:b"/>
	</wsdl:message>
	<wsdl:portType name="PortType_Test1">
		<wsdl:operation name="Operation_defaultAction">
			<wsdl:input message="tns:Message_a"/>
			<wsdl:output message="tns:Message_b"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Binding_Test1" type="tns:PortType_Test1">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="Operation_defaultAction">
			<soap:operation style="document" soapAction="defaultAction"/>
			<wsdl:input>
				<soap:body parts="Part_a" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="Part_b" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Service_Test1">
		<wsdl:port name="Port_Test1" binding="tns:Binding_Test1">
			<soap:address location="Test"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>