test/src/main/configurations/MainConfig/EsbSoapValidator/xsd/service_reply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Version: 1.0. R0.1</xs:documentation>
	</xs:annotation>
	<xs:element name="ServiceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Body">
					<xs:complexType>
						<xs:all>
							<xs:element name="returnCode"/>
							<xs:element name="reasonCode"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
