core/src/test/resources/Align/Abc/abc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:test" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:test">
	<xs:element name="a">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="b"/>
				<xs:element ref="c"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="b">
		<xs:complexType/>
	</xs:element>
	<xs:element name="c">
		<xs:complexType/>
	</xs:element>
</xs:schema>
