test/src/main/configurations/MainConfig/WsdlXmlValidator/StartIncomingValueTransferProcess/PensionsSMB_ValueTransfer_ValueTransferLegacy_1_StartIncomingValueTransferProcess_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://nn.nl/XSD/Generic/MessageHeader/1" xmlns:tns="urn:amx:BPMEnvironment/nl.nn.med.PensionsSMB.ValueTransfer.ValueTransferLegacy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://nn.nl/XSD/PensionsSMB/ValueTransfer/ValueTransferLegacy/1/StartIncomingValueTransferProcess/1" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="nl.nn.med.PensionsSMB.ValueTransfer.ValueTransferLegacy_1.0.0.201405141212_service_StartIncomingValueTransferProcess_Interface_1_StartIncomingValueTransferProcess_Interface_1" targetNamespace="urn:amx:BPMEnvironment/nl.nn.med.PensionsSMB.ValueTransfer.ValueTransferLegacy">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nn.nl/XSD/Generic/MessageHeader/1" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://nn.nl/XSD/PensionsSMB/ValueTransfer/ValueTransferLegacy/1/StartIncomingValueTransferProcess/1"/>
            <xs:complexType name="ActionType">
                <xs:sequence>
                    <xs:element name="Paradigm">
                        <xs:annotation>
                            <xs:documentation>
      Identification of the paradigm, can be Request, Response, Event, Action, Solicit, Notification
     </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Request"/>
                                <xs:enumeration value="Response"/>
                                <xs:enumeration value="Event"/>
                                <xs:enumeration value="Action"/>
                                <xs:enumeration value="Solicit"/>
                                <xs:enumeration value="Notification"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Name" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      The name of the operation being invoked.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Version" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      The major version of the operation being invoked.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ConnectionInfoType">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="Principal" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      ID or name of the front-end system or application
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RemoteAddress" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      System name, Full Qualified Domain Name (FQDN) or IP address of the front-end system. Typically used for black-listing or for some investigation purposed.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ConsumingEndpointType">
                <xs:sequence>
                    <xs:element name="Id" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      Unique identification of the endpoint being invoked.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Location" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      Destination of the endpoint being invoked.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DetailListType">
                <xs:sequence>
                    <xs:element name="Detail" type="ns1:DetailType" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DetailType">
                <xs:sequence>
                    <xs:element name="Code" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      Service specific error code
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SubCode" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      Application specific error code
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Text" type="ns1:TextType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      Detailed description of the error that occurred.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ErrorListType">
                <xs:sequence>
                    <xs:element name="Error" type="ns1:ErrorType" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ErrorType">
                <xs:sequence>
                    <xs:element name="Code" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      Canonical error code with fixed value. 
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Reason" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      Canonical reason description of the canonical error. It provides the reason why an error has occurred.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Service" type="ns1:ServiceType">
                        <xs:annotation>
                            <xs:documentation>
      Description in which service and operation the error occurred.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DetailList" type="ns1:DetailListType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      List of specific non canonical errors.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HeaderFieldType">
                <xs:sequence>
                    <xs:element name="CPAId" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      Collaboration Protocol Agreement ID provided by the initiator of the business value chain of Transactions.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ConversationId" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      Global Unique IDdentifier (GUID) for the one particular Conversation a message participates in.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MessageId" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      Global Unique Identifier (GUID) for this message within the scope of the Conversation (see above).
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CorrelationId" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      Contains the request MessageId as part of the response in order to correlate two messages as part of the same MEP.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExternalRefToMessageId" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      Unique identifier referring to an id passed from an external (front-end) system. This often uniquely identifies the Transaction as known with the initiator.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Timestamp" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>
      Date and time message was sent, including the time zone.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="HeaderProperties" type="ns1:PropertiesType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      Used as extension on the HeaderFields for future use without backwards compatibility issues in existing implementations.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HeaderPropertyType">
                <xs:attribute name="Name" use="required" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
     Attribute describing the name of the property
    </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Value" use="required" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
     Attribute describing the value of the property
    </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:complexType>
            <xs:complexType name="MessageDataType">
                <xs:sequence>
                    <xs:element name="MessageId" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      Unique Identifier for this message within the scope of the Conversation (see above). This is a copy of.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Timestamp" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>
      Date and time message was sent, including the time zone. This is a copy of.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RefToMessageId" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      Unique identifier referring to an id passed from an external (front-end) system. This is a copy of.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Status" type="ns1:StatusType"/>
                    <xs:element name="Retry_Option" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      A boolean indicating if the invocation can be retried
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MessageHeaderType">
                <xs:sequence>
                    <xs:element name="From" type="ns1:ProducingEndpointType"/>
                    <xs:element name="To" type="ns1:ConsumingEndpointType"/>
                    <xs:element name="HeaderFields" type="ns1:HeaderFieldType"/>
                    <xs:element name="ConnectionInfo" type="ns1:ConnectionInfoType" minOccurs="0"/>
                    <xs:element name="Service" type="ns1:ServiceType"/>
                    <xs:element name="TraceHeaderList" type="ns1:TraceHeaderListType" minOccurs="0"/>
                    <xs:element name="TransactionList" type="ns1:TransactionListType" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProducingEndpointType">
                <xs:sequence>
                    <xs:element name="Id" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      Unique identification of the initiator.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Location" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      Destination of the endpoint of the initiator. Use when discriminating the Id with an location is of importance.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PropertiesType">
                <xs:sequence>
                    <xs:element name="HeaderProperty" type="ns1:HeaderPropertyType" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
      Repeating structure to accommodate extra properties
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResultType">
                <xs:sequence>
                    <xs:element name="Status" type="ns1:StatusType"/>
                    <xs:element name="ErrorList" type="ns1:ErrorListType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
      Element which is the parent of all errors elements. Will only be present if the status equals ERROR
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceType">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      The name of the service being invoked
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Context" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      The name of the service context being invoked.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Action" type="ns1:ActionType">
                        <xs:annotation>
                            <xs:documentation>
      Identification of the action being performed
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="StatusType">
                <xs:annotation>
                    <xs:documentation>
    A string indicating if the invocation was successful or not. The field may have the value OK or ERROR
   </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="OK"/>
                    <xs:enumeration value="ERROR"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="TextType">
                <xs:attribute name="language" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
     Detailing the language of the error based on ISO 639-1 Code.
    </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:complexType>
            <xs:complexType name="TraceHeaderListType">
                <xs:annotation>
                    <xs:documentation>
    The ?raceHeaderList?part of the message is used to carry over parts of the header while invoking another operation or service. When a service is composed of multiple other services each header that is received will make up one element in the TraceHeaderList. A new TraceHeader entry is added to the bottom of the list. The newest entry is the lowest entry in a list. 
   </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="TraceHeader" type="ns1:TraceHeaderType" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TraceHeaderType">
                <xs:sequence>
                    <xs:element name="Sender" type="ns1:ProducingEndpointType">
                        <xs:annotation>
                            <xs:documentation>
      This is a copy of the From element
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Receiver" type="ns1:ConsumingEndpointType">
                        <xs:annotation>
                            <xs:documentation>
      This is a copy of the To element
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Service" type="ns1:ServiceType">
                        <xs:annotation>
                            <xs:documentation>
      This is a copy of the Service element
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MessageData" type="ns1:MessageDataType">
                        <xs:annotation>
                            <xs:documentation>
      This element contains a copy of certain fields of the HeaderFields element
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransactionListType">
                <xs:annotation>
                    <xs:documentation>
    The TransactionList part of the message holds information regarding the transaction the message is part of. This part should ONLY be used for SOx or other regulatory compliance requirements that have been identified for a certain service or system interface. A new Transaction entry is added to the bottom of the list. The newest entry is the lowest entry in a list.
   </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="Transaction" type="ns1:TransactionType" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
      For each transaction a new Transaction is added to bottom of the TransactionList.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransactionType">
                <xs:sequence>
                    <xs:element name="Interaction">
                        <xs:annotation>
                            <xs:documentation>
      When a system is called that is not part of the ESB or SOA platform, this field will hold the value Frontend or Backend respective to the type of system that is called
     </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Frontend"/>
                                <xs:enumeration value="Backend"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="TransactionId" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      The unique identification used as reference when a Transaction enters or leaves the ESB.
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MessageId" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      The identification of the message. Must be unique within the TransactionList when multiple calls to external system 
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SystemId" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
      The unique identification of the external system
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Timestamp" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>
      Date and time the message was sent to or received from the external system
     </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="MessageHeader" type="ns1:MessageHeaderType"/>
            <xs:element name="Result" type="ns1:ResultType"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nn.nl/XSD/PensionsSMB/ValueTransfer/ValueTransferLegacy/1/StartIncomingValueTransferProcess/1" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://nn.nl/XSD/Generic/MessageHeader/1"/>
            <xs:complexType name="EmployeeAddressDataType">
                <xs:sequence>
                    <xs:element name="Street">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="HouseNumber">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="HouseNumberAddition" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="PostalCode">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="City">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="CountryCode">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="2"/>
                                <xs:maxLength value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="CountryName">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EmployeeDataType">
                <xs:sequence>
                    <xs:element ref="ns0:PersonalDemographics"/>
                    <xs:element ref="ns0:EmployeeAddressData"/>
                    <xs:element ref="ns0:PensionParticipation" maxOccurs="unbounded"/>
                    <xs:element ref="ns0:FormerPUO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EmploymentDataType">
                <xs:sequence>
                    <xs:element name="StartDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FormerPUOType">
                <xs:sequence>
                    <xs:element name="BP-id">
                        <xs:simpleType>
                            <xs:restriction base="xs:positiveInteger"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PensionParticipationType">
                <xs:sequence>
                    <xs:element name="VTA-id">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="PlanNr" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:maxInclusive value="99"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ContractNr">
                        <xs:simpleType>
                            <xs:restriction base="xs:positiveInteger">
                                <xs:minInclusive value="10000"/>
                                <xs:maxInclusive value="99999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PersonalDemographicsType">
                <xs:sequence>
                    <xs:element name="BP-id" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="BSN">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value="[0-9]{9}|[0-9]{10}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Birthdate">
                        <xs:simpleType>
                            <xs:restriction base="xs:date"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Gender">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Initials">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="LastNamePrefix" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="LastName">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StartIncomingValueTransferRequestType">
                <xs:sequence>
                    <xs:element name="OldEmployername" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="OldParticipationId" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="RequestDate">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="EmployeeData" type="ns0:EmployeeDataType"/>
                    <xs:element name="EmploymentData" type="ns0:EmploymentDataType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="EmployeeAddressData" type="ns0:EmployeeAddressDataType"/>
            <xs:element name="FormerPUO" type="ns0:FormerPUOType"/>
            <xs:element name="PensionParticipation" type="ns0:PensionParticipationType"/>
            <xs:element name="PersonalDemographics" type="ns0:PersonalDemographicsType"/>
            <xs:element name="StartIncomingValueTransferRequest" type="ns0:StartIncomingValueTransferRequestType"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="StartIncomingValueTransferProcess_1_Request">
        <wsdl:part name="body" element="ns0:StartIncomingValueTransferRequest"/>
        <wsdl:part name="header" element="ns1:MessageHeader"/>
    </wsdl:message>
    <wsdl:portType name="StartIncomingValueTransferProcess_Interface_1">
        <wsdl:operation name="StartIncomingValueTransferProcess_1">
            <wsdl:input message="tns:StartIncomingValueTransferProcess_1_Request"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StartIncomingValueTransferProcess_Interface_1" type="tns:StartIncomingValueTransferProcess_Interface_1">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="text"/>
        <wsdl:operation name="StartIncomingValueTransferProcess_1">
            <wsdl:documentation/>
            <soap:operation style="document" soapAction="StartIncomingValueTransferProcess_1"/>
            <wsdl:input>
                <soap:body use="literal" parts="body"/>
                <soap:header use="literal" message="tns:StartIncomingValueTransferProcess_1_Request" part="header"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="nl.nn.med.PensionsSMB.ValueTransfer.ValueTransferLegacy_1.0.0.201405141212_service_StartIncomingValueTransferProcess_Interface_1_StartIncomingValueTransferProcess_Interface_1">
        <wsdl:port name="StartIncomingValueTransferProcess_Interface_1" binding="tns:StartIncomingValueTransferProcess_Interface_1">
            <soap:address location="jms/StartIncomingValueTransferProcessAction"/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://localhost:7222</jndi:property>
            </jndi:context>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <!--The element targetAddress value (ESB.PensionsSMB.TS.ValueTransfer.ValueTransferLegacy.1.StartIncomingValueTransferProcess.1.Action) is the jndi name of the destination. Please replace this with physical destination name at the service consumption point.-->
            <jms:targetAddress destination="queue">ESB.PensionsSMB.TS.ValueTransfer.ValueTransferLegacy.1.StartIncomingValueTransferProcess.1.Action</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>