core/src/test/resources/Align/TreeAndMap/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2017 rel. 3 sp1 (http://www.altova.com) -->
<xs:schema xmlns="urn:employee" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:employee">
	<xs:element name="town" type="xs:string" />
	<xs:element name="street" type="xs:string" />
	<xs:element name="address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="street"/>
				<xs:element ref="town"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="companyid" type="xs:string" />
	<xs:element name="employeeid" type="xs:string" />
	<xs:element name="updateEmployeeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="companyid"/>
				<xs:element ref="employeeid"/>
				<xs:element ref="address"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
