test/src/test/testtool/ApiWsdlGenerator/scenario02/out.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.nn.nl/HelloWorld/wsdl/" xmlns:ns1="http://api.nn.nl/HelloWorld" xmlns:ns2="http://api.nn.nl/MessageHeader" targetNamespace="http://api.nn.nl/HelloWorld/wsdl/">
  <wsdl:documentation>Generated by FrankConsole as ApiWsdlGeneratorMultipart.wsdl on 2020-10-19 16:47:51.&lt;br/&gt;&lt;b&gt;Note: &lt;/b&gt;this service is not a SOAP service but a REST service. A 'multipart/form-data' request is expected of which the first part is a SOAP message and each next part is a file(stream). This wsdl describes the SOAP message in the first part.</wsdl:documentation>
  <wsdl:types>
    <xsd:schema xmlns="http://api.nn.nl/HelloWorld" xmlns:tns="http://frankframework.org/HelloWorld/wsdl/" elementFormDefault="qualified" targetNamespace="http://api.nn.nl/HelloWorld">
      <xsd:element name="HelloWorld_Request" type="xsd:anyType"/>
      <xsd:element name="HelloWorld_Response" type="ResponseType"/>
      <xsd:complexType name="ResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Body" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://api.nn.nl/MessageHeader" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://api.nn.nl/MessageHeader">
      <xsd:element name="MessageHeader" type="MessageHeaderType"/>
      <xsd:complexType name="MessageHeaderType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="From" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Please fill this with source of the message (Blueriq project name, App, XC, NPA etc.)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="HeaderFields" type="HeaderFieldType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HeaderFieldType">
        <xsd:sequence>
          <xsd:element name="ConversationId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Global Unique Identifier (GUID) for the one particular Conversation a message participates in.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Message_HelloWorld_Request">
    <wsdl:part name="Part_HelloWorld_Request" element="ns1:HelloWorld_Request"/>
  </wsdl:message>
  <wsdl:message name="Message_HelloWorld_Request_MessageHeader">
    <wsdl:part name="Part_MessageHeader" element="ns2:MessageHeader"/>
  </wsdl:message>
  <wsdl:message name="Message_HelloWorld_Response">
    <wsdl:part name="Part_HelloWorld_Response" element="ns1:HelloWorld_Response"/>
  </wsdl:message>
  <wsdl:portType name="PortType_ApiWsdlGeneratorMultipart"></wsdl:portType>
</wsdl:definitions>