test/src/main/configurations/MainConfig/XmlValidator/CaseDataSetCase/migrationcasedata_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ing.com/nl/pcretail/ts/migrationcasedata_01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.ing.com/nl/pcretail/ts/MigrationCaseData_01_GetCase_01/GetCase_01_Concrete/MigrationCaseData__01" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:ns0="http://www.ing.com/CSP/XSD/General/Message_2" xmlns:ns1="http://www.ing.com/nl/pcretail/ts/migrationcasedata_01" targetNamespace="http://www.ing.com/nl/pcretail/ts/migrationcasedata_01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>BPM schema version 1.3. Date last change: 14-04-2011. NV. Added STATUS, COMPANY_CODE</xs:documentation>
		<xs:documentation>BPM schema version V2. Date last change: 18-05-2011. NV. Fianl after review MN</xs:documentation>
	</xs:annotation>
	<xs:element name="GetRequest" type="ct_GetCaseRequest"/>
	<xs:element name="GetResponse" type="ct_GetCaseReply"/>
	<xs:complexType name="ct_GetCaseReply">
		<xs:sequence>
			<xs:element name="CaseData" minOccurs="0">
				<xs:complexType>
					<xs:all>
						<xs:element name="RVS_PARTY_ID" type="xs:string" nillable="false"/>
						<xs:element name="COMPANY_CODE" type="xs:string" minOccurs="0"/>
						<xs:element name="CASE_ID" type="xs:string"/>
						<xs:element name="CONVERSATION_ID" type="xs:string"/>
						<xs:element name="PAYLOAD" type="xs:string"/>
						<xs:element name="STATUS" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ct_GetCaseRequest">
		<xs:sequence>
			<xs:element name="CaseData">
				<xs:complexType>
					<xs:all>
						<xs:element name="RVS_PARTY_ID" type="xs:string" nillable="false" minOccurs="0"/>
						<xs:element name="COMPANY_CODE" type="xs:string" minOccurs="0"/>
						<xs:element name="NN_PARTY_ID" type="xs:string" nillable="false" minOccurs="0"/>
						<xs:element name="CASE_ID" type="xs:string" minOccurs="0"/>
						<xs:element name="CONVERSATION_ID" type="xs:string" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ct_SetCaseDataRequest">
		<xs:all>
			<xs:element name="RVS_PARTY_ID" type="xs:string" nillable="false"/>
			<xs:element name="COMPANY_CODE" type="xs:string" minOccurs="0"/>
			<xs:element name="NN_PARTY_ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CASE_ID" type="xs:string"/>
			<xs:element name="CONVERSATION_ID" type="xs:string"/>
			<xs:element name="PAYLOAD" type="xs:string"/>
			<xs:element name="STATUS" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="SetRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CaseData" type="ct_SetCaseDataRequest"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
