JavaSource/Fxf 2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by HP SLMS Purchasing (ING Bank/OPs & IT) -->
<!--W3C Schema generated by XMLSpy v2007 rel. 3 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FXF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Transfer" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="filename" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" use="required" fixed="2.0"/>
			<xs:attribute name="action" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Trigger"/>
						<xs:enumeration value="Processed"/>
						<xs:enumeration value="Commit"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="transporthandle" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
