core/src/test/resources/Arrays/arrays.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2016 rel. 2 (http://www.altova.com) -->
<xs:schema xmlns="urn:arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:arrays">
	<xs:element name="a">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="array1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="arrayElement" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="arrays">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="intElem"/>
				<xs:element ref="stringElem"/>
				<xs:element ref="array1"/>
				<xs:element ref="struct"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fielda">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1a"/>
				<xs:enumeration value="2a"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fieldb">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1b"/>
				<xs:enumeration value="2b"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fieldc">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1c"/>
				<xs:enumeration value="2c"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="struct">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="repeatedElem" maxOccurs="unbounded"/>
				<xs:element ref="otherElem"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="intElem">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="otherElem">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stringElem">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="arrayElement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fielda"/>
				<xs:element ref="fieldb"/>
				<xs:element ref="fieldc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="repeatedElem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="a"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
