test/src/main/configurations/MainConfig/InputOutputWrapper/rr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.nn.nl/InputOutputWrapper" xmlns:cmh="http://nn.nl/XSD/Generic/MessageHeader/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.nn.nl/InputOutputWrapper" elementFormDefault="qualified">
	<xsd:import namespace="http://nn.nl/XSD/Generic/MessageHeader/1" schemaLocation="cmh.xsd"/>
	<xsd:element name="Request" type="xsd:anyType"/>
	<xsd:element name="Response" type="ResponseType"/>
	<xsd:complexType name="ResponseType">
		<xsd:sequence>
			<xsd:element name="Body" type="xsd:anyType" minOccurs="0"/>
			<xsd:element ref="cmh:Result"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
