core/src/test/resources/doc/examplesExpected/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Start">
    <xs:complexType>
      <xs:group ref="StartDeclaredChildGroup" />
      <xs:attributeGroup ref="StartDeclaredAttributeGroup" />
    </xs:complexType>
  </xs:element>
  <xs:group name="StartDeclaredChildGroup">
    <xs:sequence>
      <xs:element name="Syntax1NameIChild" type="IChildElementType" minOccurs="0" maxOccurs="1" />
      <xs:element ref="Syntax1NameTChild" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="StartDeclaredAttributeGroup">
    <xs:attribute name="attribute" type="xs:string" />
  </xs:attributeGroup>
  <xs:complexType name="IChildElementType">
    <xs:choice>
      <xs:element ref="DescribedPossibleIChild" />
      <xs:element ref="NotDescribedPossibleIChild" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="Syntax1NameTChild">
    <xs:complexType />
  </xs:element>
  <xs:element name="DescribedPossibleIChild">
    <xs:complexType>
      <xs:attributeGroup ref="DescribedPossibleIChildDeclaredAttributeGroup" />
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="DescribedPossibleIChildDeclaredAttributeGroup">
    <xs:attribute name="firstAttribute" type="xs:string">
      <xs:annotation>
        <xs:documentation>First attribute of DescribedPossibleIChild</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="secondAttribute" type="xs:string">
      <xs:annotation>
        <xs:documentation>Second attribute of DescribedPossibleIChild</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="NotDescribedPossibleIChild">
    <xs:complexType>
      <xs:attributeGroup ref="NotDescribedPossibleIChildDeclaredAttributeGroup" />
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="NotDescribedPossibleIChildDeclaredAttributeGroup">
    <xs:attribute name="firstAttribute" type="xs:string" />
    <xs:attribute name="secondAttribute" type="xs:string" />
  </xs:attributeGroup>
</xs:schema>
