core/src/test/resources/Validation/Circular/zds/xsd/gml_resolved2017.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:sch="http://www.ascc.net/xml/schematron"
        xmlns:gml="http://www.opengis.net/gml"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:smil20="http://www.w3.org/2001/SMIL20/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        targetNamespace="http://www.opengis.net/gml"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        version="3.1.1.2">
   <import namespace="http://www.w3.org/2001/SMIL20/"
           schemaLocation="smil20_resolved2017.xsd"/>
   <import namespace="http://www.w3.org/1999/xlink"
           schemaLocation="xlink_resolved2017.xsd"/>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:gml:3.1.1">gml.xsd</appinfo>
		          <documentation>Top level GML schema
			
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:dynamicFeature:3.1.1"/>
		          <documentation xml:lang="en">Basic support for tracking moving objects and objects with changing state.
			
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:topology:3.1.1">topology.xsd</appinfo>
		          <documentation>
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:coverage:3.1.1">coverage.xsd</appinfo>
		          <documentation xml:lang="en">GML Coverage schema.
			
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:coordinateReferenceSystems:3.1.1"/>
		          <documentation>How to encode coordinate reference system definitions. Builds on referenceSystems.xsd to encode the data needed to define coordinate reference systems, including the specific subtypes of coordinate reference systems. 
		This schema encodes the Coordinate Reference System (SC_) package of the extended UML Model for OGC Abstract Specification Topic 2: Spatial Referencing by Coordinates, with the exception of the abstract "SC_CRS" class. The "SC_CRS" class is encoded in referenceSystems.xsd, to eliminate the (circular) references from coordinateOperations.xsd to coordinateReferenceSystems.xsd. That UML model is adapted from ISO 19111 - Spatial referencing by coordinates, as described in Annex C of Topic 2. 
		Caution: The CRS package in GML 3.1 and GML 3.1.1 is preliminary, and is expected to undergo some modifications that are not backward compatible during the development of GML 3.2 (ISO 19136). The GML 3.2 package will implement the model described in the revised version of ISO 19111. 
		
		GML is an OGC Standard.
		Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
		To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:observation:3.1.1">observation.xsd</appinfo>
		          <documentation>Observation schema for GML 3.1
			
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-defaultStyle:v3.1.0">defaultStyle.xsd</appinfo>
		          <documentation>
			Default Style schema for GML 3.1.1
			
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:temporalReferenceSystems:3.1.1"/>
		          <documentation xml:lang="en">The Temporal Reference Systems schema for GML 3.1 provides constructs for handling various styles of temporal reference system. 
    This schema reflects a partial implementation of the model described in ISO 19108:2002.
    
    GML is an OGC Standard.
    Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
    To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:feature:v3.1.1"/>
		          <documentation>GML Feature schema.
			
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:direction:3.1.1">direction.xsd</appinfo>
		          <documentation>This schema defines "direction" element and type.
			
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:geometryComplexes:v3.1.1">geometryComplexes.xsd</appinfo>
		          <documentation>
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:valueObjects:3.1.1">valueObjects.xsd</appinfo>
		          <documentation>GML conformant schema for Values in which the  
		    * scalar Value types and lists have their values recorded in simpleContent elements 
		    * complex Value types are built recursively
		    
		    GML is an OGC Standard.
		    Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
		    To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:grids:3.1.1">grids.xsd</appinfo>
		          <documentation xml:lang="en">Grid geometries
    A subset of implicit geometries
    Designed for use with GML Coverage schema, but maybe useful elsewhere as well.
    
    GML is an OGC Standard.
    Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
    To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:geometryAggregates:3.1.1">geometryAggregates.xsd</appinfo>
		          <documentation>
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:coordinateSystems:3.1.1"/>
		          <documentation>How to encode coordinate system definitions. Builds on referenceSystems.xsd to encode the data needed to define coordinate systems, including the specific subtypes of coordinate systems. 
		This schema encodes the Coordinate System (CS_) package of the extended UML Model for OGC Abstract Specification Topic 2: Spatial Referencing by Coordinates. That UML model is adapted from ISO 19111 - Spatial referencing by coordinates, as described in Annex C of Topic 2. 
		Caution: The CRS package in GML 3.1 and GML 3.1.1 is preliminary, and is expected to undergo some modifications that are not backward compatible during the development of GML 3.2 (ISO 19136). The GML 3.2 package will implement the model described in the revised version of ISO 19111.
		
		GML is an OGC Standard.
		Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
		To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:datums:3.1.1"/>
		          <documentation>How to encode datum definitions. Builds on referenceSystems.xsd to encode the data needed to define datums, including the specific subtypes of datums. 
		This schema encodes the Datum (CD_) package of the extended UML Model for OGC Abstract Specification Topic 2: Spatial Referencing by Coordinates. That UML model is adapted from ISO 19111 - Spatial referencing by coordinates, as described in Annex C of Topic 2. 
		Caution: The CRS package in GML 3.1 and GML 3.1.1 is preliminary, and is expected to undergo some modifications that are not backward compatible during the development of GML 3.2 (ISO 19136). The GML 3.2 package will implement the model described in the revised version of ISO 19111.
		
		GML is an OGC Standard.
		Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
		To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:coordinateOperations:3.1.1"/>
		          <documentation>How to encode coordinate operation definitions. Builds on referenceSystems.xsd to encode the data needed to define coordinate operations, including Transformations, Conversions, and other specific subtypes of operations. 
		
		This schema encodes the Coordinate Operation (CC_) package of the extended UML Model for OGC Abstract Specification Topic 2: Spatial Referencing by Coordinates. That UML model is adapted from ISO 19111 - Spatial referencing by coordinates, as described in Annex C of Topic 2. 
		Caution: The CRS package in GML 3.1 and GML 3.1.1 is preliminary, and is expected to undergo some modifications that are not backward compatible during the development of GML 3.2 (ISO 19136). The GML 3.2 package will implement the model described in the revised version of ISO 19111.
		
		GML is an OGC Standard.
		Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
		To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-measures:3.1.1"/>
		          <documentation>Extends the units.xsd and basicTypes.xsd schemas with types for recording measures using specific types of units, especially the measures and units needed for coordinate reference systems and coordinate operations. The specific unit types encoded are length, angle, scale factor, time, area, volume, speed, and grid length. This schema allows angle values to be recorded as single numbers or in degree-minute-second format. 
		Parts of this schema are based on Subclause 6.5.7 of ISO/CD 19103 Geographic information - Conceptual schema language, on Subclause A.5.2.2.3 of ISO/CD 19118 Geographic information - Encoding, and on Subclause 4.7 of OpenGIS Recommendation Paper OGC 02-007r4 Units of Measure Use and Definition Recommendations.
		
		GML is an OGC Standard.
		Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
		To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:temporalTopology:3.1.1"/>
		          <documentation xml:lang="en">The temporal topology schema for ISO19136 provides constructs for handling topological complexes and 
		temporal feature relationships. 
		Temporal geometric characteristics of features are represented as instants and periods. 
		While, temporal context of features that does not relate to the position of time is described as connectivity relationships 
		among instants and periods. These relationships are called temporal topology as they do not change in time, 
		as long as the direction of time does not change. 
		It is used effectively in the case of describing a family tree expressing evolution of species, an ecological cycle, 
		a lineage of lands or buildings, or a history of separation and merger of administrative boundaries.
		This schema reflects a partial yet consistent implementation of the model described in ISO 19108:2002.
		
		GML is an OGC Standard.
		Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
		To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:dictionary:3.1.1"/>
		          <documentation>
			Dictionary schema for GML 3.1.1 
			Components to support the lists of definitions.
			
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:geometryBasic2d:3.1.1">geometryBasic2d.xsd</appinfo>
		          <documentation>
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:temporal:3.1.1"/>
		          <documentation xml:lang="en">The temporal schema for GML 3.1 provides constructs for handling time-varying spatial data. 
    This schema reflects a partial implementation of the model described in ISO 19108:2002.
    
    GML is an OGC Standard.
    Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
    To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:geometryBasic0d1d:v3.1.1">geometryBasic0d1d.xsd</appinfo>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:geometryBasic0d1d:v3.1.1">
			            <sch:title>Schematron validation</sch:title>
			            <sch:pattern name="Check SRS tags">
				              <sch:rule abstract="true" id="CRSLabels">
					                <sch:report test="not(@srsDimension) or @srsName">The presence of a dimension attribute implies the presence of the srsName attribute.</sch:report>
					                <sch:report test="not(@axisLabels) or @srsName">The presence of an axisLabels attribute implies the presence of the srsName attribute.</sch:report>
					                <sch:report test="not(@uomLabels) or @srsName">The presence of an uomLabels attribute implies the presence of the srsName attribute.</sch:report>
					                <sch:report test="(not(@uomLabels) and not(@axisLabels)) or (@uomLabels and @axisLabels)">The presence of an uomLabels attribute implies the presence of the axisLabels attribute and vice versa.</sch:report>
				              </sch:rule>
			            </sch:pattern>
			            <sch:pattern name="Check Dimension">
				              <sch:rule abstract="true" id="Count">
					                <sch:report test="not(@count) or @srsDimension">The presence of a count attribute implies the presence of the dimension attribute.</sch:report>
				              </sch:rule>
			            </sch:pattern>
		          </appinfo>
		          <documentation>
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:geometryPrimitives:3.1.1">geometryPrimitives.xsd</appinfo>
		          <documentation>
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:referenceSystems:3.1.1"/>
		          <documentation>How to encode reference system definitions. Builds on several other parts of GML 3 to encode the data needed to define reference systems.
		This schema encodes the Reference System (RS_) package of the extended UML Model for OGC Abstract Specification Topic 2: Spatial Referencing by Coordinates. That UML model is adapted from ISO 19111 - Spatial referencing by coordinates, as described in Annex C of Topic 2. The SC_CRS class is also encoded here, to eliminate the (circular) references from coordinateOperations.xsd to coordinateReferenceSystems.xsd. The RS_SpatialReferenceSystemUsingGeographicIdentifier class is not encoded, since it is not applicable to coordinate positions. The CI_Citation class is not directly encoded, since such information can be included as metaDataProperty elements which are optionally allowed. A modified version of the EX_Extent (DataType) class from ISO 19115 is currently encoded here, using GML 3 schema types. (A more extensive version of the EX_Extent package might be XML encoded in the future, probably in a separate extent.xsd schema.)
		Caution: The CRS package in GML 3.1 and GML 3.1.1 is preliminary, and is expected to undergo some modifications that are not backward compatible during the development of GML 3.2 (ISO 19136). The GML 3.2 package will implement the model described in the revised version of ISO 19111.
		
		GML is an OGC Standard.
		Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
		To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:dataQuality:3.1.1"/>
		          <documentation>How to encode positional data quality information. Builds on units.xsd to encode the data needed to describe the positional accuracy of coordinate operations. 
		This schema encodes the Data Quality (DQ) package of the extended UML Model for OGC Abstract Specification Topic 2: Spatial Referencing by Coordinates. That UML model is adapted from ISO 19111 - Spatial referencing by coordinates, as described in Annex C of Topic 2. 
		Caution: The CRS package in GML 3.1 and GML 3.1.1 is preliminary, and is expected to undergo some modifications that are not backward compatible during the development of GML 3.2 (ISO 19136). The GML 3.2 package will implement the model described in the revised version of ISO 19111. 
		
		GML is an OGC Standard.
		Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
		To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-units:3.1.1"/>
		          <documentation>Builds on gmlBase.xsd to encode units of measure (or uom), including definitions of units of measure and dictionaries of such definitions. GML 3.0 candidate schema, primary editor: Arliss Whiteside.			
	Parts of this schema are based on Subclause 6.5.7 of ISO/CD 19103 Geographic information - Conceptual schema language, on Subclause A.5.2.2.3 of ISO/CD 19118 Geographic information - Encoding, and on most of OpenGIS Recommendation Paper OGC 02-007r4 Units of Measure Use and Definition Recommendations.
		
		GML is an OGC Standard.
		Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
		To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
		          <appinfo source="urn:opengis:specification:gml:schema-xsd:gmlBase:3.1.1">
			            <sch:title>Schematron validation</sch:title>
			            <sch:ns prefix="gml" uri="http://www.opengis.net/gml"/>
			            <sch:ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
			            <sch:pattern name="Check either href or content not both">
				              <sch:rule abstract="true" id="hrefOrContent">
					                <sch:report test="@xlink:href and (*|text())">Property element may not carry both a reference to an object and contain an object.</sch:report>
					                <sch:assert test="@xlink:href | (*|text())">Property element must either carry a reference to an object or contain an object.</sch:assert>
				              </sch:rule>
			            </sch:pattern>
		          </appinfo>
		          <documentation>GML base schema for GML 3
			Components to support the GML encoding model.
			The abstract Schematron rules can be used by any schema that includes gmlBase.
			
			GML is an OGC Standard.
			Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</documentation>
	        </annotation>
   <annotation>
            <appinfo source="urn:opengis:specification:gml:schema-xsd:basicTypes:3.1.1">basicTypes.xsd</appinfo>
            <documentation>
    Generic simpleContent components for use in GML
    
    GML is an OGC Standard.
    Copyright (c) 2001,2005,2010 Open Geospatial Consortium.
    To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
    </documentation>
         </annotation>
   <element name="_Surface"
            type="gml:AbstractSurfaceType"
            abstract="true"
            substitutionGroup="gml:_GeometricPrimitive">
		          <annotation>
			            <documentation>The "_Surface" element is the abstract head of the substituition group for all (continuous) surface elements.</documentation>
		          </annotation>
	        </element>
   <complexType name="AbstractSurfaceType">
		          <annotation>
			            <documentation>An abstraction of a surface to support the different levels of complexity. A surface is always a continuous region of a plane.</documentation>
		          </annotation>
		          <complexContent>
			            <extension base="gml:AbstractGeometricPrimitiveType"/>
		          </complexContent>
	        </complexType>
   <complexType name="SurfacePropertyType">
		          <annotation>
			            <documentation>A property that has a surface as its value domain can either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element must be given, but neither both nor none.</documentation>
		          </annotation>
		          <sequence minOccurs="0">
			            <element ref="gml:_Surface"/>
		          </sequence>
		          <attributeGroup ref="gml:AssociationAttributeGroup">
			            <annotation>
				              <documentation>This attribute group includes the XLink attributes (see xlinks.xsd). XLink is used in GML to reference remote resources (including those elsewhere in the same document). A simple link element can be constructed by including a specific set of XLink attributes. The XML Linking Language (XLink) is currently a Proposed Recommendation of the World Wide Web Consortium. XLink allows elements to be inserted into XML documents so as to create sophisticated links between resources; such links can be used to reference remote properties.
A simple link element can be used to implement pointer functionality, and this functionality has been built into various GML 3 elements by including the gml:AssociationAttributeGroup.</documentation>
			            </annotation>
		          </attributeGroup>
	        </complexType>
   <element name="_Geometry"
            type="gml:AbstractGeometryType"
            abstract="true"
            substitutionGroup="gml:_GML">
		          <annotation>
			            <documentation>The "_Geometry" element is the abstract head of the substituition group for all geometry elements of GML 3. This 
			includes pre-defined and user-defined geometry elements. Any geometry element must be a direct or indirect extension/restriction 
			of AbstractGeometryType and must be directly or indirectly in the substitution group of "_Geometry".</documentation>
			            <appinfo>
				              <sch:pattern name="Check SRS tags">
					                <sch:rule context="gml:_Geometry">
						                  <sch:extends rule="CRSLabels"/>
					                </sch:rule>
				              </sch:pattern>
			            </appinfo>
		          </annotation>
	        </element>
   <complexType name="AbstractGeometryType" abstract="true">
		          <annotation>
			            <documentation>All geometry elements are derived directly or indirectly from this abstract supertype. A geometry element may 
			have an identifying attribute ("gml:id"), a name (attribute "name") and a description (attribute "description"). It may be associated 
			with a spatial reference system (attribute "srsName"). The following rules shall be adhered: - Every geometry type shall derive 
			from this abstract type. - Every geometry element (i.e. an element of a geometry type) shall be directly or indirectly in the 
			substitution group of _Geometry.</documentation>
		          </annotation>
		          <complexContent>
			            <extension base="gml:AbstractGMLType">
				              <attribute name="gid" type="string" use="optional">
					                <annotation>
						                  <documentation>This attribute is included for backward compatibility with GML 2 and is deprecated with GML 3. 
						This identifer is superceded by "gml:id" inherited from AbstractGMLType. The attribute "gid" should not be used 
						anymore and may be deleted in future versions of GML without further notice.</documentation>
					                </annotation>
				              </attribute>
				              <attributeGroup ref="gml:SRSReferenceGroup"/>
			            </extension>
		          </complexContent>
	        </complexType>
   <attributeGroup name="SRSReferenceGroup">
		          <annotation>
			            <documentation>Optional reference to the CRS used by this geometry, with optional additional information to simplify use when 
			a more complete definition of the CRS is not needed.</documentation>
		          </annotation>
		          <attribute name="srsName" type="anyURI" use="optional">
			            <annotation>
				              <documentation>In general this reference points to a CRS instance of gml:CoordinateReferenceSystemType 
				(see coordinateReferenceSystems.xsd). For well known references it is not required that the CRS description exists at the 
				location the URI points to. If no srsName attribute is given, the CRS must be specified as part of the larger context this 
				geometry element is part of, e.g. a geometric element like point, curve, etc. It is expected that this attribute will be specified 
				at the direct position level only in rare cases.</documentation>
			            </annotation>
		          </attribute>
		          <attribute name="srsDimension" type="positiveInteger" use="optional">
			            <annotation>
				              <documentation>The "srsDimension" is the length of coordinate sequence (the number of entries in the list). This dimension is 
				specified by the coordinate reference system. When the srsName attribute is omitted, this attribute shall be omitted.</documentation>
			            </annotation>
		          </attribute>
		          <attributeGroup ref="gml:SRSInformationGroup"/>
	        </attributeGroup>
   <attributeGroup name="SRSInformationGroup">
		          <annotation>
			            <documentation>Optional additional and redundant information for a CRS to simplify use when a more complete definition of the 
			CRS is not needed. This information shall be the same as included in the more complete definition of the CRS, referenced by the 
			srsName attribute. When the srsName attribute is included, either both or neither of the axisLabels and uomLabels attributes 
			shall be included. When the srsName attribute is omitted, both of these attributes shall be omitted.</documentation>
		          </annotation>
		          <attribute name="axisLabels" type="gml:NCNameList" use="optional">
			            <annotation>
				              <documentation>Ordered list of labels for all the axes of this CRS. The gml:axisAbbrev value should be used for these axis 
				labels, after spaces and forbiddden characters are removed. When the srsName attribute is included, this attribute is optional. 
				When the srsName attribute is omitted, this attribute shall also be omitted.</documentation>
			            </annotation>
		          </attribute>
		          <attribute name="uomLabels" type="gml:NCNameList" use="optional">
			            <annotation>
				              <documentation>Ordered list of unit of measure (uom) labels for all the axes of this CRS. The value of the string in the 
				gml:catalogSymbol should be used for this uom labels, after spaces and forbiddden characters are removed. When the 
				axisLabels attribute is included, this attribute shall also be included. When the axisLabels attribute is omitted, this attribute 
				shall also be omitted.</documentation>
			            </annotation>
		          </attribute>
	        </attributeGroup>
   <element name="_GeometricPrimitive"
            type="gml:AbstractGeometricPrimitiveType"
            abstract="true"
            substitutionGroup="gml:_Geometry">
		          <annotation>
			            <documentation>The "_GeometricPrimitive" element is the abstract head of the substituition group for all (pre- and user-defined) 
			geometric primitives.</documentation>
		          </annotation>
	        </element>
   <complexType name="AbstractGeometricPrimitiveType" abstract="true">
		          <annotation>
			            <documentation>This is the abstract root type of the geometric primitives. A geometric primitive is a geometric object that is not 
			decomposed further into other primitives in the system. All primitives are oriented in the direction implied by the sequence of their 
			coordinate tuples.</documentation>
		          </annotation>
		          <complexContent>
			            <extension base="gml:AbstractGeometryType"/>
		          </complexContent>
	        </complexType>
   <element name="Point"
            type="gml:PointType"
            substitutionGroup="gml:_GeometricPrimitive"/>
   <complexType name="PointType">
		          <annotation>
			            <documentation>A Point is defined by a single coordinate tuple.</documentation>
		          </annotation>
		          <complexContent>
			            <extension base="gml:AbstractGeometricPrimitiveType">
				              <sequence>
					                <choice>
						                  <annotation>
							                    <documentation>GML supports two different ways to specify the direct poisiton of a point. 1. The "pos" element is of type 
							DirectPositionType.</documentation>
						                  </annotation>
						                  <element ref="gml:pos"/>
						                  <element ref="gml:coordinates">
							                    <annotation>
								                      <documentation>Deprecated with GML version 3.1.0 for coordinates with ordinate values that are numbers. Use "pos" 
								instead. The "coordinates" element shall only be used for coordinates with ordinates that require a string 
								representation, e.g. DMS representations.</documentation>
							                    </annotation>
						                  </element>
						                  <element ref="gml:coord">
							                    <annotation>
								                      <documentation>Deprecated with GML version 3.0. Use "pos" instead. The "coord" element is included for 
								backwards compatibility with GML 2.</documentation>
							                    </annotation>
						                  </element>
					                </choice>
				              </sequence>
			            </extension>
		          </complexContent>
	        </complexType>
   <complexType name="PointPropertyType">
		          <annotation>
			            <documentation>A property that has a point as its value domain can either be an appropriate geometry element encapsulated in an 
			element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located 
			elsewhere in the same document). Either the reference or the contained element must be given, but neither both nor none.</documentation>
		          </annotation>
		          <sequence minOccurs="0">
			            <element ref="gml:Point"/>
		          </sequence>
		          <attributeGroup ref="gml:AssociationAttributeGroup">
			            <annotation>
				              <documentation>This attribute group includes the XLink attributes (see xlinks.xsd). XLink is used in GML to reference remote 
				resources (including those elsewhere in the same document). A simple link element can be constructed by including a specific 
				set of XLink attributes. The XML Linking Language (XLink) is currently a Proposed Recommendation of the World Wide Web Consortium. 
				XLink allows elements to be inserted into XML documents so as to create sophisticated links between resources; such links can be 
				used to reference remote properties. A simple link element can be used to implement pointer functionality, and this functionality has 
				been built into various GML 3 elements by including the gml:AssociationAttributeGroup.</documentation>
			            </annotation>
		          </attributeGroup>
	        </complexType>
   <element name="pos" type="gml:DirectPositionType">
		          <annotation>
			            <appinfo>
				              <sch:pattern name="Check SRS tags">
					                <sch:rule context="gml:pos">
						                  <sch:extends rule="CRSLabels"/>
					                </sch:rule>
				              </sch:pattern>
			            </appinfo>
		          </annotation>
	        </element>
   <complexType name="DirectPositionType">
		          <annotation>
			            <documentation>DirectPosition instances hold the coordinates for a position within some coordinate reference system (CRS). Since 
			DirectPositions, as data types, will often be included in larger objects (such as geometry elements) that have references to CRS, the 
			"srsName" attribute will in general be missing, if this particular DirectPosition is included in a larger element with such a reference to a 
			CRS. In this case, the CRS is implicitly assumed to take on the value of the containing object's CRS.</documentation>
		          </annotation>
		          <simpleContent>
			            <extension base="gml:doubleList">
				              <attributeGroup ref="gml:SRSReferenceGroup"/>
			            </extension>
		          </simpleContent>
	        </complexType>
   <element name="coordinates" type="gml:CoordinatesType">
		          <annotation>
			            <documentation>Deprecated with GML version 3.1.0.</documentation>
		          </annotation>
	        </element>
   <element name="coord" type="gml:CoordType">
		          <annotation>
			            <documentation>Deprecated with GML 3.0 and included for backwards compatibility with GML 2. Use the "pos" element instead.</documentation>
		          </annotation>
	        </element>
   <complexType name="CoordType">
		          <annotation>
			            <documentation>Represents a coordinate tuple in one, two, or three dimensions. Deprecated with GML 3.0 and replaced by 
			DirectPositionType.</documentation>
		          </annotation>
		          <sequence>
			            <element name="X" type="decimal"/>
			            <element name="Y" type="decimal" minOccurs="0"/>
			            <element name="Z" type="decimal" minOccurs="0"/>
		          </sequence>
	        </complexType>
   <element name="_Object" abstract="true">
		          <annotation>
			            <documentation>This abstract element is the head of a substitutionGroup hierararchy which may contain either simpleContent or complexContent elements.  It is used to assert the model position of "class" elements declared in other GML schemas.</documentation>
		          </annotation>
	        </element>
   <element name="_GML"
            type="gml:AbstractGMLType"
            abstract="true"
            substitutionGroup="gml:_Object">
		          <annotation>
			            <documentation>Global element which acts as the head of a substitution group that may include any element which is a GML feature, object, geometry or complex value</documentation>
		          </annotation>
	        </element>
   <group name="StandardObjectProperties">
		          <annotation>
			            <documentation>This content model group makes it easier to construct types that 
      derive from AbstractGMLType and its descendents "by restriction".  
      A reference to the group saves having to enumerate the standard object properties.</documentation>
		          </annotation>
		          <sequence>
			            <element ref="gml:metaDataProperty" minOccurs="0" maxOccurs="unbounded"/>
			            <element ref="gml:description" minOccurs="0"/>
			            <element ref="gml:name" minOccurs="0" maxOccurs="unbounded">
				              <annotation>
					                <documentation>Multiple names may be provided.  These will often be distinguished by being assigned by different authorities, as indicated by the value of the codeSpace attribute.  In an instance document there will usually only be one name per authority.</documentation>
				              </annotation>
			            </element>
		          </sequence>
	        </group>
   <complexType name="AbstractGMLType" abstract="true">
		          <annotation>
			            <documentation>All complexContent GML elements are directly or indirectly derived from this abstract supertype 
	to establish a hierarchy of GML types that may be distinguished from other XML types by their ancestry. 
	Elements in this hierarchy may have an ID and are thus referenceable.</documentation>
		          </annotation>
		          <sequence>
			            <group ref="gml:StandardObjectProperties"/>
		          </sequence>
		          <attribute ref="gml:id" use="optional"/>
	        </complexType>
   <element name="metaDataProperty" type="gml:MetaDataPropertyType">
		          <annotation>
			            <documentation>Contains or refers to a metadata package that contains metadata properties.</documentation>
		          </annotation>
	        </element>
   <complexType name="MetaDataPropertyType">
		          <annotation>
			            <documentation>Base type for complex metadata property types.</documentation>
		          </annotation>
		          <sequence minOccurs="0">
			            <any processContents="lax"/>
			            <!-- <element ref="gml:_MetaData"/> -->
		</sequence>
		          <attributeGroup ref="gml:AssociationAttributeGroup"/>
		          <attribute name="about" type="anyURI" use="optional"/>
	        </complexType>
   <attribute name="id" type="ID">
		          <annotation>
			            <documentation>Database handle for the object.  It is of XML type ID, so is constrained to be unique in the XML document within which it occurs.  An external identifier for the object in the form of a URI may be constructed using standard XML and XPointer methods.  This is done by concatenating the URI for the document, a fragment separator, and the value of the id attribute.</documentation>
		          </annotation>
	        </attribute>
   <attribute name="remoteSchema" type="anyURI">
		          <annotation>
			            <documentation>Reference to an XML Schema fragment that specifies the content model of the propertys value. This is in conformance with the XML Schema Section 4.14 Referencing Schemas from Elsewhere.</documentation>
		          </annotation>
	        </attribute>
   <attributeGroup name="AssociationAttributeGroup">
		          <annotation>
			            <documentation>Attribute group used to enable property elements to refer to their value remotely. It contains the simple link components from xlinks.xsd, with all members optional, and the remoteSchema attribute, which is also optional.  These attributes can be attached to any element, thus allowing it to act as a pointer. The 'remoteSchema' attribute allows an element  that carries link attributes to indicate that the element is declared  in a remote schema rather than by the schema that constrains the current document instance.</documentation>
		          </annotation>
		          <attributeGroup ref="xlink:simpleAttrs"/>
		          <attribute ref="gml:remoteSchema" use="optional"/>
	        </attributeGroup>
   <element name="name" type="gml:CodeType">
		          <annotation>
			            <documentation>Label for the object, normally a descriptive name. An object may have several names, typically assigned by different authorities.  The authority for a name is indicated by the value of its (optional) codeSpace attribute.  The name may or may not be unique, as determined by the rules of the organization responsible for the codeSpace.</documentation>
		          </annotation>
	        </element>
   <element name="description" type="gml:StringOrRefType">
		          <annotation>
			            <documentation>Contains a simple text description of the object, or refers to an external description.</documentation>
		          </annotation>
	        </element>
   <complexType name="StringOrRefType">
		          <annotation>
			            <documentation>This type is available wherever there is a need for a "text" type property. It is of string type, so the text can be included inline, but the value can also be referenced remotely via xlinks from the AssociationAttributeGroup. If the remote reference is present, then the value obtained by traversing the link should be used, and the string content of the element can be used for an annotation.</documentation>
		          </annotation>
		          <simpleContent>
			            <extension base="string">
				              <attributeGroup ref="gml:AssociationAttributeGroup"/>
			            </extension>
		          </simpleContent>
	        </complexType>
   <simpleType name="doubleList">
            <annotation>
               <documentation>XML List based on XML Schema double type.  An element of this type contains a space-separated list of double values</documentation>
            </annotation>
            <list itemType="double"/>
         </simpleType>
   <complexType name="CodeType">
            <annotation>
               <documentation>Name or code with an (optional) authority.  Text token.  
      If the codeSpace attribute is present, then its value should identify a dictionary, thesaurus 
      or authority for the term, such as the organisation who assigned the value, 
      or the dictionary from which it is taken.  
      A text string with an optional codeSpace attribute. </documentation>
            </annotation>
            <simpleContent>
               <extension base="string">
                  <attribute name="codeSpace" type="anyURI" use="optional"/>
               </extension>
            </simpleContent>
         </complexType>
   <complexType name="CoordinatesType">
            <annotation>
               <documentation>Tables or arrays of tuples.  
        May be used for text-encoding of values from a table.  
        Actually just a string, but allows the user to indicate which characters are used as separators.  
        The value of the 'cs' attribute is the separator for coordinate values, 
        and the value of the 'ts' attribute gives the tuple separator (a single space by default); 
        the default values may be changed to reflect local usage.
        Defaults to CSV within a tuple, space between tuples.  
        However, any string content will be schema-valid.  </documentation>
            </annotation>
            <simpleContent>
               <extension base="string">
                  <attribute name="decimal" type="string" default="."/>
                  <attribute name="cs" type="string" default=","/>
                  <attribute name="ts" type="string" default=" "/>
               </extension>
            </simpleContent>
         </complexType>
   <simpleType name="NCNameList">
            <annotation>
               <documentation>A set of values, representing a list of token with the lexical value space of NCName. The tokens are seperated by whitespace.</documentation>
            </annotation>
            <list itemType="NCName"/>
         </simpleType>
</schema>
