core/src/test/resources/Validation/Circular/zds/xsd/stuf0301.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 sp1 (http://www.altova.com) by Robert Melskens (Kwaliteits Instituut Nederlandse Gemeenten) -->
<schema xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.egem.nl/StUF/StUF0301" elementFormDefault="qualified" attributeFormDefault="unqualified" version="030113">
	<annotation>
		<documentation xml:lang="nl">
               Dit schema  correspondeert met StUF 03.01 (In gebruik) per 1 juli 2011.
               
               Wijzigingen vergeleken met versie 030107:
               - ERR0184: Het attribute functie en het simpleType FunctieVrijBerichtElement toegevoegd.
               
			   Wijzigingen t.b.v. patch 16 (1-7-2013) vergeleken met versie stuf0301.xsd v030108:
			   - ERR240: 'aantalVoorkomens' en 'aardAantal' zijn als attributen deprecated.
               - ERR267: Voor elk type bericht een simpleType toegevoegd in de vorm 'BerichtcodeXxnn' waarbij 'Xxnn' staat voor het betreffende bericht, bijv. 'BerichtcodeLk02'.
							   Voor elke mutatiesoort een simpleType toegevoegd in de vorm 'MutatiesoortX' waarbij 'X' staat voor de betreffende mutatiesoort, bijv. 'MutatiesoortF'.

			   Wijzigingen t.b.v. patch 20 (30-6-2014) vergeleken met versie stuf0301.xsd v030109:
			   - ERR242, ERR248, ERR249, ERR265: Het attribute 'StUF:sleutelSynchronisatie' is gedefinieerd en opgenomen in de attributeGroup 'entiteit'.
 
			   Wijzigingen t.b.v. patch 21 (1-4-2015) vergeleken met versie 030110 zijn de volgende wijzigingen doorgevoerd:			
			   - ERR289: Het complexType 'Datum-r' is vanuit het schema 'zkn0310_msg_stuf_zs-dms.xsd' verplaatst naar dit schema.
			     Daarnaast is ook 'Tijdstip-r' in dit schema geplaatst zodat het ook hergebruikt kan worden in meerdere koppelvlakken.
			   - ERR0353: Het schema is voorzien van de afgesproken structuur in 'appinfo'
 
			   Wijzigingen t.b.v. patch 22 (1-7-2015) vergeleken met versie 030111 zijn de volgende wijzigingen doorgevoerd:			
			   - ERR0395: De regels &lt;element name="aanvullendeElementen" type="anyType"/&gt; en &lt;attribute name="schemaLocation" type="string"/&gt; zijn 
			     toegevoegd aan het schema.
 
			   Wijzigingen t.b.v. patch 26 (1-4-2017) vergeleken met versie 030112 zijn de volgende wijzigingen doorgevoerd:			
			   - ERR0452: I.p.v. een choice met daarin een element 'bericht' bevat het 'StUF-berichtenSet' element nu een complexType met een sequence van een 
			     unbounded any element met een 'lax' processContents.
			   - ERR0459: I.p.v. een element met een any content bevat het 'aanvullendeElementen' element nu een complexType met een sequence van een of meerdere
			     any elements met een 'lax' processContents.
			
        </documentation>
		<appinfo>
			<StUF:onderdeel>http://www.egem.nl/StUF/StUF0301</StUF:onderdeel>
			<StUF:patch>28</StUF:patch>
			<StUF:patchdatum>20170401</StUF:patchdatum>
			<StUF:schemaversie>13</StUF:schemaversie>
		</appinfo>
	</annotation>
	<!--definitie van elementen voor door StUF gedefinieerde berichten-->
	<element name="Fo01Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Fo01"/>
									<element name="zender" type="StUF:Systeem"/>
									<element name="ontvanger" type="StUF:Systeem"/>
									<element name="referentienummer" type="StUF:Refnummer"/>
									<element name="tijdstipBericht" type="StUF:Tijdstip"/>
									<element name="crossRefnummer" type="StUF:Refnummer"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="body" type="StUF:Foutbericht"/>
			</sequence>
		</complexType>
	</element>
	<element name="Fo02Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Fo02"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="body" type="StUF:Foutbericht"/>
			</sequence>
		</complexType>
	</element>
	<element name="Fo03Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Fo03"/>
									<element name="zender" type="StUF:Systeem"/>
									<element name="ontvanger" type="StUF:Systeem"/>
									<element name="referentienummer" type="StUF:Refnummer"/>
									<element name="tijdstipBericht" type="StUF:Tijdstip"/>
									<element name="crossRefnummer" type="StUF:Refnummer"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="body" type="StUF:Foutbericht"/>
			</sequence>
		</complexType>
	</element>
	<element name="Bv01Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Bv01"/>
									<element name="zender" type="StUF:Systeem"/>
									<element name="ontvanger" type="StUF:Systeem"/>
									<element name="referentienummer" type="StUF:Refnummer"/>
									<element name="tijdstipBericht" type="StUF:Tijdstip"/>
									<element name="crossRefnummer" type="StUF:Refnummer"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="melding" type="StUF:Melding" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="Bv02Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Bv02"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="melding" type="StUF:Melding" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="Bv03Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Bv03"/>
									<element name="zender" type="StUF:Systeem"/>
									<element name="ontvanger" type="StUF:Systeem"/>
									<element name="referentienummer" type="StUF:Refnummer"/>
									<element name="tijdstipBericht" type="StUF:Tijdstip"/>
									<element name="crossRefnummer" type="StUF:Refnummer"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Bv04Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Bv04"/>
									<element name="zender" type="StUF:Systeem"/>
									<element name="ontvanger" type="StUF:Systeem"/>
									<element name="referentienummer" type="StUF:Refnummer"/>
									<element name="tijdstipBericht" type="StUF:Tijdstip"/>
									<element name="crossRefnummer" type="StUF:Refnummer"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Tr01Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Tr01"/>
									<element name="zender" type="StUF:Systeem"/>
									<element name="ontvanger" type="StUF:Systeem"/>
									<element name="referentienummer" type="StUF:Refnummer"/>
									<element name="tijdstipBericht" type="StUF:Tijdstip"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<!--definitie van het omhullende element voor uitwisseling via een bestand -->
	<element name="StUF-berichtenSet">
		<annotation>
			<documentation xml:lang="nl">In het schema van de StUF-standaard kan dit element slechts gedefinieerd worden met als types anyType voor de
				elementen die voor kunnen komen in een berichtenbestand. De verschillende sectormodellen definieren deze 
				elementen in meer detail. Een correcte validatie is mogelijk door in het bericht expliciet het sectormodel te specificeren
				waartegen het bericht gevalideerd dient te worden.
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!--Definitie van elementen die als element gerefd moeten worden in een sectormodel-->
	<element name="extraElementen" type="StUF:ExtraElementen"/>
	<element name="aanvullendeElementen">
		<complexType>
			<sequence>
				<any namespace="##other" processContents="lax" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="tijdstipRegistratie" type="StUF:Tijdstip-e" nillable="true"/>
	<element name="tijdvakGeldigheid" type="StUF:TijdvakGeldigheid"/>
	<element name="tijdvakObject" type="StUF:TijdvakObject"/>
	<element name="tijdvakRelatie" type="StUF:TijdvakRelatie"/>
	<!--Definitie van complexTypes ten behoeve van parameters elementen -->
	<complexType name="ParametersAntwoord">
		<annotation>
			<documentation>Type voor gebruik in vrije berichten.</documentation>
		</annotation>
		<sequence>
			<element name="indicatorVervolgvraag" type="boolean" minOccurs="0"/>
			<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
			<element name="peiltijdstipMaterieel" type="StUF:Tijdstip" minOccurs="0"/>
			<element name="peiltijdstipFormeel" type="StUF:Tijdstip" minOccurs="0"/>
			<element name="indicatorHistorie" type="StUF:IndicatorHistorie" minOccurs="0"/>
			<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
			<element name="sequenceNumber" type="StUF:SequenceNumber" minOccurs="0"/>
			<element name="indicatorLaatsteBericht" type="boolean" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ParametersAntwoordSynchroon">
		<annotation>
			<documentation>Type voor gebruik in La01, La07, La09, La11 en La13 berichten.</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersAntwoordSynchroonFormeel">
				<sequence>
					<element name="indicatorVervolgvraag" type="boolean"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersAntwoordSynchroonFormeel">
		<annotation>
			<documentation>Type voor gebruik in La05 berichten.</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersAntwoord">
				<sequence>
					<element name="indicatorVervolgvraag" type="boolean"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="peiltijdstipMaterieel" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="peiltijdstipFormeel" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="indicatorHistorie" type="StUF:IndicatorHistorie" minOccurs="0"/>
					<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersAntwoordSynchroonMaterieel">
		<annotation>
			<documentation>Type voor gebruik in La03 berichten.</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersAntwoordSynchroonFormeel">
				<sequence>
					<element name="indicatorVervolgvraag" type="boolean"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="peiltijdstipMaterieel" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersAntwoordAsynchroon">
		<annotation>
			<documentation>Type voor gebruik in La02, La08, La10, La12 en La14 berichten.</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersAntwoordAsynchroonFormeel">
				<sequence>
					<element name="indicatorVervolgvraag" type="boolean" minOccurs="0"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
					<element name="sequenceNumber" type="StUF:SequenceNumber"/>
					<element name="indicatorLaatsteBericht" type="boolean" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersAntwoordAsynchroonFormeel">
		<annotation>
			<documentation>Type voor gebruik in La06 berichten.</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersAntwoord">
				<sequence>
					<element name="indicatorVervolgvraag" type="boolean" minOccurs="0"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="peiltijdstipMaterieel" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="peiltijdstipFormeel" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
					<element name="sequenceNumber" type="StUF:SequenceNumber"/>
					<element name="indicatorLaatsteBericht" type="boolean" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersAntwoordAsynchroonMaterieel">
		<annotation>
			<documentation>Type voor gebruik in La04 berichten.</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersAntwoordAsynchroonFormeel">
				<sequence>
					<element name="indicatorVervolgvraag" type="boolean" minOccurs="0"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="peiltijdstipMaterieel" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
					<element name="sequenceNumber" type="StUF:SequenceNumber"/>
					<element name="indicatorLaatsteBericht" type="boolean" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersKennisgeving">
		<sequence>
			<element name="mutatiesoort" type="StUF:Mutatiesoort" minOccurs="0"/>
			<element name="indicatorOvername" type="StUF:IndicatorOvername" default="V" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ParametersLk01">
		<complexContent>
			<restriction base="StUF:ParametersKennisgeving">
				<sequence>
					<element name="mutatiesoort" type="StUF:Mutatiesoort"/>
					<element name="indicatorOvername" type="StUF:IndicatorOvername" default="V"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersLk01TInSx01">
		<complexContent>
			<restriction base="StUF:ParametersLk01">
				<sequence>
					<element name="mutatiesoort" type="StUF:Mutatiesoort" fixed="T"/>
					<element name="indicatorOvername" type="StUF:IndicatorOvername" fixed="V"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersLk01WInSx01">
		<complexContent>
			<restriction base="StUF:ParametersLk01">
				<sequence>
					<element name="mutatiesoort" type="StUF:MutatiesoortWijzigingInSynchronisatie"/>
					<element name="indicatorOvername" type="StUF:IndicatorOvername" fixed="V"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersLk02">
		<complexContent>
			<restriction base="StUF:ParametersKennisgeving">
				<sequence>
					<element name="mutatiesoort" type="StUF:Mutatiesoort"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersLk02TInSx02">
		<complexContent>
			<restriction base="StUF:ParametersLk02">
				<sequence>
					<element name="mutatiesoort" type="StUF:Mutatiesoort" fixed="T"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersLk02WInSx02">
		<complexContent>
			<restriction base="StUF:ParametersLk02">
				<sequence>
					<element name="mutatiesoort" type="StUF:MutatiesoortWijzigingInSynchronisatie"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersVraag-basis">
		<annotation>
			<documentation>Type voor gebruik in vrije berichten</documentation>
		</annotation>
		<sequence>
			<element name="sortering" type="StUF:Sortering" minOccurs="0"/>
			<element name="indicatorVervolgvraag" type="boolean" minOccurs="0"/>
			<element name="maximumAantal" type="StUF:MaximumAantal" default="15" minOccurs="0"/>
			<element name="peiltijdstipMaterieel" type="StUF:Tijdstip" minOccurs="0"/>
			<element name="peiltijdstipFormeel" type="StUF:Tijdstip" minOccurs="0"/>
			<element name="indicatorHistorie" type="StUF:IndicatorHistorie" minOccurs="0"/>
			<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
			<element name="indicatorAantal" type="boolean" default="false" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ParametersVraag">
		<annotation>
			<documentation>Type voor gebruik in de berichten Lv01 t/m Lv14.</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersVraag-basis">
				<sequence>
					<element name="sortering" type="StUF:Sortering" minOccurs="0"/>
					<element name="indicatorVervolgvraag" type="boolean" minOccurs="0"/>
					<element name="maximumAantal" type="StUF:MaximumAantal" default="15" minOccurs="0"/>
					<element name="peiltijdstipMaterieel" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="peiltijdstipFormeel" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="indicatorAantal" type="boolean" default="false" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Stuurgegevens">
		<sequence>
			<element name="berichtcode" type="StUF:Berichtcode"/>
			<element name="zender" type="StUF:Systeem" minOccurs="0"/>
			<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
			<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
			<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
			<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
			<element name="entiteittype" type="StUF:Entiteittype" minOccurs="0"/>
			<element name="functie" type="StUF:Functie" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="StuurgegevensDi01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:Functie"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDi02"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="functie" type="StUF:Functie" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:Functie"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeDu02"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="functie" type="StUF:Functie" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa01"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa03">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa03"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa04">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa04"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa05">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa05"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa06">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa06"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa07">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa07"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa08">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa08"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa09">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa09"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa10">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa10"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa11">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa11"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa12">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa12"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa13">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa13"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa14">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLa14"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLk01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk01Lk05">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLk01Lk05"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLk02"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk02Lk06">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLk02Lk06"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk03">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLk03"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="functie" type="StUF:Functie"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk04">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLk04"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="functie" type="StUF:Functie"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk05">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLk05"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk06">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLk06"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv01"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv03">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv03"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv04">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv04"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv05">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv05"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv06">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv06"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv07">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv07"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv08">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv08"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv09">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv09"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv10">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv10"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv11">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv11"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv12">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv12"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv13">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv13"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv14">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLv14"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSa01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeSa01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSa02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeSa02"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSa03">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeSa03"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSa04">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeSa04"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSh01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeSh01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSh02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeSh02"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSh03">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeSh03"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSh04">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeSh04"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:Tijdstip" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!--attribute groups met de attributen van een entiteit en een element-->
	<attributeGroup name="entiteit">
		<attribute ref="StUF:sleutelVerzendend"/>
		<attribute ref="StUF:sleutelOntvangend"/>
		<attribute ref="StUF:sleutelGegevensbeheer"/>
		<attribute ref="StUF:sleutelSynchronisatie"/>
		<attribute ref="StUF:noValue"/>
		<attribute ref="StUF:scope"/>
		<attribute ref="StUF:verwerkingssoort"/>
	</attributeGroup>
	<attributeGroup name="entiteitZonderSleutels">
		<attribute ref="StUF:noValue"/>
		<attribute ref="StUF:scope"/>
		<attribute ref="StUF:verwerkingssoort"/>
	</attributeGroup>
	<attributeGroup name="element">
		<attribute ref="StUF:noValue"/>
		<attribute ref="StUF:exact"/>
	</attributeGroup>
	<attributeGroup name="relatie">
		<annotation>
			<documentation>'aantalVoorkomens' en 'aardAantal' zijn deprecated.</documentation>
		</annotation>
		<attributeGroup ref="StUF:entiteit"/>
		<attribute ref="StUF:aantalVoorkomens"/>
		<attribute ref="StUF:aardAantal"/>
	</attributeGroup>
	<attributeGroup name="relatieZonderSleutels">
		<annotation>
			<documentation>'aantalVoorkomens' en 'aardAantal' zijn deprecated.</documentation>
		</annotation>
		<attributeGroup ref="StUF:entiteitZonderSleutels"/>
		<attribute ref="StUF:aantalVoorkomens"/>
		<attribute ref="StUF:aardAantal"/>
	</attributeGroup>
	<!--definitie van de verschillende attributes-->
	<attribute name="aantalVoorkomens" type="StUF:AantalVoorkomens"/>
	<attribute name="aardAantal" type="StUF:AardAantal"/>
	<attribute name="entiteittype" type="StUF:Entiteittype"/>
	<attribute name="exact" type="boolean" default="true"/>
	<attribute name="functie" type="StUF:FunctieVrijBerichtElement"/>
	<attribute name="indOnvolledigeDatum" type="StUF:IndOnvolledigeDatum" default="V"/>
	<attribute name="metagegeven" type="boolean" fixed="true"/>
	<attribute name="noValue" type="StUF:NoValue"/>
	<attribute name="schemaLocation" type="string"/>
	<attribute name="scope">
		<simpleType>
			<restriction base="string">
				<enumeration value="alles"/>
				<enumeration value="allesZonderMetagegevens"/>
				<enumeration value="allesMaarKerngegevensGerelateerden"/>
				<enumeration value="allesZonderMetagegevensMaarKerngegevensGerelateerden"/>
				<enumeration value="kerngegevens"/>
			</restriction>
		</simpleType>
	</attribute>
	<attribute name="sleutelVerzendend" type="StUF:Sleutel"/>
	<attribute name="sleutelOntvangend" type="StUF:Sleutel"/>
	<attribute name="sleutelGegevensbeheer" type="StUF:Sleutel"/>
	<attribute name="sleutelSynchronisatie" type="StUF:Sleutel"/>
	<attribute name="verwerkingssoort" type="StUF:Verwerkingssoort"/>
	<!--definitie complexTypes -->
	<complexType name="AnytypeKennisgeving">
		<sequence>
			<any namespace="##targetNamespace" maxOccurs="unbounded"/>
		</sequence>
		<attribute ref="StUF:entiteittype" use="required"/>
		<attributeGroup ref="StUF:entiteit"/>
	</complexType>
	<complexType name="AnytypeOther">
		<sequence>
			<any namespace="##other" processContents="lax" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="AnytypeTarget">
		<sequence>
			<any namespace="##targetNamespace" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="AnytypeTargetMetEntiteittype">
		<sequence>
			<any namespace="##targetNamespace" maxOccurs="unbounded"/>
		</sequence>
		<attribute ref="StUF:entiteittype" use="required"/>
	</complexType>
	<complexType name="Bevestigingsbericht">
		<sequence>
			<element name="melding" type="StUF:Melding" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="Datum-e">
		<simpleContent>
			<restriction base="StUF:DatumMetIndicator">
				<attribute ref="StUF:noValue"/>
				<attribute ref="StUF:exact"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="DatumMetIndicator">
		<simpleContent>
			<extension base="StUF:Datum">
				<attributeGroup ref="StUF:element"/>
				<attribute ref="StUF:indOnvolledigeDatum"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Datum-r">
		<simpleContent>
			<restriction base="StUF:Datum-e">
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:exact"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="ExtraElementen">
		<sequence>
			<element name="extraElement" nillable="true" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="string">
							<attributeGroup ref="StUF:element"/>
							<attribute name="naam" type="string" use="required"/>
							<attribute ref="StUF:indOnvolledigeDatum"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="Foutbericht">
		<sequence>
			<element name="code" type="StUF:Foutcode"/>
			<element name="plek" type="StUF:Foutplek"/>
			<element name="omschrijving" type="StUF:Foutomschrijving"/>
			<element name="details" type="StUF:Foutdetails" minOccurs="0"/>
			<element name="detailsXML" type="StUF:FoutdetailsXML" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="FoutdetailsXML">
		<sequence>
			<any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="GebeurtenisMetAttributes">
		<simpleContent>
			<restriction base="StUF:GebeurtenisMetAttributes-basis">
				<attribute ref="StUF:metagegeven" use="required"/>
				<attribute name="groepsnaam" type="StUF:Groepsnaam"/>
				<attribute name="elementnaam" type="StUF:Groepsnaam"/>
				<attribute name="tijdstip" type="StUF:Tijdstip" use="required"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="GebeurtenisMetAttributes-basis">
		<simpleContent>
			<extension base="StUF:Gebeurtenis">
				<attribute ref="StUF:metagegeven"/>
				<attribute name="groepsnaam" type="StUF:Groepsnaam"/>
				<attribute name="elementnaam" type="StUF:Groepsnaam"/>
				<attribute name="tijdstip" type="StUF:Tijdstip"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="GebeurtenisMetAttributes-vraag">
		<simpleContent>
			<restriction base="StUF:GebeurtenisMetAttributes-basis">
				<attribute ref="StUF:metagegeven" use="prohibited"/>
				<attribute name="groepsnaam" type="StUF:Groepsnaam" use="prohibited"/>
				<attribute name="elementnaam" type="StUF:Groepsnaam" use="prohibited"/>
				<attribute name="tijdstip" type="StUF:Tijdstip" use="prohibited"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="Sleutel-e">
		<simpleContent>
			<extension base="StUF:Sleutel">
				<attributeGroup ref="StUF:element"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="StatusMetagegeven-basis">
		<simpleContent>
			<extension base="StUF:StatusMetagegeven">
				<attribute ref="StUF:metagegeven"/>
				<attribute ref="StUF:noValue"/>
				<attribute name="groepsnaam" type="StUF:Groepsnaam"/>
				<attribute name="elementnaam" type="StUF:Groepsnaam"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="StatusMetagegeven-vraag">
		<simpleContent>
			<restriction base="StUF:StatusMetagegeven-basis">
				<attribute ref="StUF:metagegeven" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute name="groepsnaam" type="StUF:Groepsnaam" use="prohibited"/>
				<attribute name="elementnaam" type="StUF:Groepsnaam" use="prohibited"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="StatusMetagegevenNoValue">
		<simpleContent>
			<restriction base="StUF:StatusMetagegeven-basis">
				<attribute ref="StUF:metagegeven" use="required"/>
				<attribute name="groepsnaam" type="StUF:Groepsnaam" use="prohibited"/>
				<attribute name="elementnaam" type="StUF:Groepsnaam" use="prohibited"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="StatusMetagegevenMetAttributes">
		<simpleContent>
			<restriction base="StUF:StatusMetagegeven-basis">
				<attribute ref="StUF:metagegeven" use="required"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="Systeem">
		<sequence>
			<element name="organisatie" type="StUF:Organisatie" minOccurs="0"/>
			<element name="applicatie" type="StUF:Applicatie"/>
			<element name="administratie" type="StUF:Administratie" minOccurs="0"/>
			<element name="gebruiker" type="StUF:Gebruiker" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="Tijdstip-e">
		<simpleContent>
			<extension base="StUF:Tijdstip">
				<attributeGroup ref="StUF:element"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="TijdstipMetIndicator">
		<simpleContent>
			<extension base="StUF:Tijdstip-e">
				<attribute ref="StUF:indOnvolledigeDatum"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Tijdstip-r">
		<simpleContent>
			<restriction base="StUF:Tijdstip-e">
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute ref="StUF:exact"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="TijdvakGeldigheid">
		<sequence>
			<element name="beginGeldigheid" type="StUF:TijdstipMetIndicator" nillable="true"/>
			<element name="eindGeldigheid" type="StUF:TijdstipMetIndicator" nillable="true"/>
		</sequence>
	</complexType>
	<complexType name="TijdvakObject">
		<sequence>
			<element name="beginObject" type="StUF:DatumMetIndicator" nillable="true"/>
			<element name="eindObject" type="StUF:DatumMetIndicator" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="TijdvakObjectZonderIndicator">
		<complexContent>
			<restriction base="StUF:TijdvakObject">
				<sequence>
					<element name="beginObject" type="StUF:Datum-e" nillable="true"/>
					<element name="eindObject" type="StUF:Datum-e" nillable="true"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TijdvakRelatie">
		<sequence>
			<element name="beginRelatie" type="StUF:TijdstipMetIndicator" nillable="true"/>
			<element name="eindRelatie" type="StUF:TijdstipMetIndicator" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<!--definitie simpleTypes-->
	<simpleType name="AantalVoorkomens">
		<restriction base="nonNegativeInteger">
			<maxInclusive value="999999999"/>
		</restriction>
	</simpleType>
	<simpleType name="AardAantal">
		<restriction base="string">
			<enumeration value="exact"/>
			<enumeration value="minimum"/>
			<enumeration value="maximum"/>
		</restriction>
	</simpleType>
	<simpleType name="Administratie">
		<restriction base="string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>
	<simpleType name="Applicatie">
		<restriction base="string">
			<minLength value="3"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>
	<simpleType name="Berichtcode">
		<restriction base="string">
			<enumeration value="Bv01">
				<annotation>
					<documentation>
						Bevestigingsbericht dat als functionele respons kan worden verstuurd op een asynchroon bericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Bv02">
				<annotation>
					<documentation>
						Bevestigingsbericht dat als functionele respons kan worden verstuurd op een synchroon bericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Bv03">
				<annotation>
					<documentation>
						Bevestigingsbericht dat als synchrone respons wordt verstuurd op een asynchroon bericht, indien het ontvangende systeem het bericht op basis van de berichtstuurgegevens heeft gecheckt op verwerkbaarheid
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Bv04">
				<annotation>
					<documentation>
						Bevestigingsbericht dat als respons wordt verstuurd op een asynchroon bericht, dat slechts de aflevering naar de uiteindelijke ontvanger kan garanderen, maar de verwerking niet heeft gecheckt op basis van de berichtstuurgegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Di01">
				<annotation>
					<documentation>
						Asynchroon vrij bericht dat geen respons is op een eerder verzonden vrij bericht. Het kan bijvoorbeeld gaan om een notificatie of het verzoek deel van een aysnchroon verzoek/respons patroon. De 'i' in Di01 staat daarom voor inkomend.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Di02">
				<annotation>
					<documentation>
						Synchroon vrij bericht waarop een respons wordt verwacht.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Du01">
				<annotation>
					<documentation>
						Asynchroon vrij bericht dat een respons is op een eerder verzonden vrij bericht met berichtsoort Di01.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Du02">
				<annotation>
					<documentation>
						Synchrone respons op een inkomend vrij bericht met berichtsoort Di02
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Fo01">
				<annotation>
					<documentation>
						Foutbericht dat als functionele respons kan worden verstuurd op een asynchroon bericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Fo02">
				<annotation>
					<documentation>
						Foutbericht dat als functionele respons kan worden verstuurd op een synchroon bericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Fo03">
				<annotation>
					<documentation>
						Foutbericht dat als synchrone respons wordt verstuurd op een asynchroon bericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La01">
				<annotation>
					<documentation>
						Antwoordbericht met actuele gegevens als respons op een synchroon vraagbericht (Lv01)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La02">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met actuele gegevens als respons op een asynchroon vraagbericht (Lv02)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La03">
				<annotation>
					<documentation>
						Synchroon antwoordbericht met huidige gegevens op peiltijdstipMaterieel als respons op een synchroon vraagbericht (Lv03)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La04">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met huidige gegevens op peiltijdstipMaterieel als respons op een asynchroon vraagbericht (Lv03)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La05">
				<annotation>
					<documentation>
						Synchroon antwoordbericht met gegevens op peiltijdstipMaterieel en peiltijdstipFormeel als respons op een synchroon vraagbericht (Lv05)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La06">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met gegevens op peiltijdstipMaterieel en peiltijdstipFormeel als respons op een asynchroon vraagbericht (Lv06)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La07">
				<annotation>
					<documentation>
						Synchroon antwoordbericht met materile historie en alleen gewijzigde gegevens in historie als respons op een synchroon vraagbericht (Lv07)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La08">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met materile historie en alleen gewijzigde gegevens in historie als respons op een asynchroon vraagbericht (Lv08)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La09">
				<annotation>
					<documentation>
						Synchroon antwoordbericht met materile en formele historie en alleen gewijzigde gegevens in historie als respons op een synchroon vraagbericht (Lv09)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La10">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met materile en formele historie en alleen gewijzigde gegevens in historie als respons op een asynchroon vraagbericht (Lv10)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La11">
				<annotation>
					<documentation>
						Synchroon antwoordbericht met materile historie en alle gegevens in historie als respons op een synchroon vraagbericht (Lv11)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La12">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met materile historie en alle gegevens in historie als respons op een asynchroon vraagbericht (Lv12)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La13">
				<annotation>
					<documentation>
						Synchroon antwoordbericht met materile en formele historie en alle gegevens in historie als respons op een synchroon vraagbericht (Lv13)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La14">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met materile en formele historie en alle gegevens in historie als respons op een asynchroon vraagbericht (Lv14)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lk01">
				<annotation>
					<documentation>
						Asynchroon atomair kennisgevingbericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lk02">
				<annotation>
					<documentation>
						Synchroon atomair kennisgevingbericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lk03">
				<annotation>
					<documentation>
						Asynchroon samengesteld kennisgevingbericht of transactie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lk04">
				<annotation>
					<documentation>
						Synchroon samengesteld kennisgevingbericht of transactie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lk05"/>
			<enumeration value="Lk06"/>
			<enumeration value="Lv01">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar actuele gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv02">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar actuele gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv03">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar huidige gegevens op peiltijdstipMaterieel
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv04">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar huidige gegevens op peiltijdstipMaterieel
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv05">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar gegevens op peiltijdstipMaterieel en peiltijdstipFormeel
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv06">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar gegevens op peiltijdstipMaterieel en peiltijdstipFormeel
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv07">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar actuele gegevens en materile historie met alleen gewijzigde gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv08">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar actuele gegevens en materile historie met alleen gewijzigde gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv09">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar actuele gegevens en materile plus formele historie met alleen gewijzigde gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv10">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar actuele gegevens en materile plus formele historie met alleen gewijzigde gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv11">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar actuele gegevens en materile historie met alle gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv12">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar actuele gegevens en materile historie met alle gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv13">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar actuele gegevens en materile plus formele historie met alle gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv14">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar actuele gegevens en materile plus formele historie met alle gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sa01">
				<annotation>
					<documentation>
						Asynchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sh01">
				<annotation>
					<documentation>
						Asynchroon synchronisatiebericht voor actuele en historische gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sa02">
				<annotation>
					<documentation>
						Synchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sh02">
				<annotation>
					<documentation>
						Synchroon synchronisatiebericht voor actuele en historische gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sa03">
				<annotation>
					<documentation>
						Vraag naar een asynchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sh03">
				<annotation>
					<documentation>
						Vraag naar een asynchroon synchronisatiebericht voor historische gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sa04">
				<annotation>
					<documentation>
						Vraag naar een synchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sh04">
				<annotation>
					<documentation>
						Vraag naar een synchroon synchronisatiebericht voor historische gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Tr01">
				<annotation>
					<documentation>
						Triggerbericht
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeBv01">
		<annotation>
			<documentation>Berichtcode = Bv01</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Bv01"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeBv02">
		<annotation>
			<documentation>Berichtcode = Bv02</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Bv02"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeBv03">
		<annotation>
			<documentation>Berichtcode = Bv03</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Bv03"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeDi01">
		<annotation>
			<documentation>Berichtcode = Di01</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Di01"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeDi02">
		<annotation>
			<documentation>Berichtcode = Di02</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Di02"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeDu01">
		<annotation>
			<documentation>Berichtcode = Du01</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Du01"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeDu02">
		<annotation>
			<documentation>Berichtcode = Du02</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Du02"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeF001">
		<annotation>
			<documentation>Berichtcode = Fo01</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Fo01"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeFo02">
		<annotation>
			<documentation>Berichtcode = Fo02</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Fo02"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeFo03">
		<annotation>
			<documentation>Berichtcode = Fo03</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Fo03"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa01">
		<annotation>
			<documentation>Berichtcode = La01</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La01"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa02">
		<annotation>
			<documentation>Berichtcode = La02</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La02"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa03">
		<annotation>
			<documentation>Berichtcode = La03</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La03"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa04">
		<annotation>
			<documentation>Berichtcode = La04</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La04"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa05">
		<annotation>
			<documentation>Berichtcode = La05</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La05"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa06">
		<annotation>
			<documentation>Berichtcode = La06</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La06"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa07">
		<annotation>
			<documentation>Berichtcode = La07</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La07"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa08">
		<annotation>
			<documentation>Berichtcode = La08</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La08"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa09">
		<annotation>
			<documentation>Berichtcode = La09</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La09"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa10">
		<annotation>
			<documentation>Berichtcode = La10</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La10"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa11">
		<annotation>
			<documentation>Berichtcode = La11</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La11"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa12">
		<annotation>
			<documentation>Berichtcode = La12</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La12"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa13">
		<annotation>
			<documentation>Berichtcode = La13</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La13"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLa14">
		<annotation>
			<documentation>Berichtcode = La14</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="La14"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv01">
		<annotation>
			<documentation>Berichtcode = Lv01</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv01"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv02">
		<annotation>
			<documentation>Berichtcode = Lv02</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv02"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv03">
		<annotation>
			<documentation>Berichtcode = Lv03</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv03"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv04">
		<annotation>
			<documentation>Berichtcode = Lv04</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv04"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv05">
		<annotation>
			<documentation>Berichtcode = Lv05</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv05"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv06">
		<annotation>
			<documentation>Berichtcode = Lv06</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv06"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv07">
		<annotation>
			<documentation>Berichtcode = Lv07</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv07"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv08">
		<annotation>
			<documentation>Berichtcode = Lv08</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv08"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv09">
		<annotation>
			<documentation>Berichtcode = Lv09</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv09"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv10">
		<annotation>
			<documentation>Berichtcode = Lv10</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv10"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv11">
		<annotation>
			<documentation>Berichtcode = Lv11</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv11"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv12">
		<annotation>
			<documentation>Berichtcode = Lv12</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv12"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv13">
		<annotation>
			<documentation>Berichtcode = Lv13</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv13"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLv14">
		<annotation>
			<documentation>Berichtcode = Lv14</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lv14"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLk01Lk05">
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lk01"/>
			<enumeration value="Lk05"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLk02Lk06">
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lk02"/>
			<enumeration value="Lk06"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLk01">
		<annotation>
			<documentation>Berichtcode = Lk01</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lk01"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLk02">
		<annotation>
			<documentation>Berichtcode = Lk02</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lk02"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLk03">
		<annotation>
			<documentation>Berichtcode = Lk03</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lk03"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLk04">
		<annotation>
			<documentation>Berichtcode = Lk04</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lk04"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLk05">
		<annotation>
			<documentation>Berichtcode = Lk05</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lk05"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLk06">
		<annotation>
			<documentation>Berichtcode = Lk06</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lk06"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeSa01">
		<annotation>
			<documentation>Berichtcode = Sa01</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Sa01"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeSa02">
		<annotation>
			<documentation>Berichtcode = Sa02</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Sa02"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeSa03">
		<annotation>
			<documentation>Berichtcode = Sa03</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Sa03"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeSa04">
		<annotation>
			<documentation>Berichtcode = Sa04</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Sa04"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeSh01">
		<annotation>
			<documentation>Berichtcode = Sh01</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Sh01"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeSh02">
		<annotation>
			<documentation>Berichtcode = Sh02</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Sh02"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeSh03">
		<annotation>
			<documentation>Berichtcode = Sh03</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Sh03"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeSh04">
		<annotation>
			<documentation>Berichtcode = Sh04</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Sh04"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeTr01">
		<annotation>
			<documentation>Berichtcode = Tr01</documentation>
		</annotation>
		<restriction base="StUF:Berichtcode">
			<enumeration value="Tr01"/>
		</restriction>
	</simpleType>
	<simpleType name="Datum">
		<annotation>
			<documentation>Er is niet aangesloten bij date, omdat hier allerlei opmaak in zit</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="8"/>
			<fractionDigits value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="Entiteittype">
		<restriction base="string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>
	<simpleType name="Foutcode">
		<restriction base="string">
			<maxLength value="7"/>
		</restriction>
	</simpleType>
	<simpleType name="Foutplek">
		<restriction base="string">
			<enumeration value="client"/>
			<enumeration value="server"/>
		</restriction>
	</simpleType>
	<simpleType name="Foutomschrijving">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="Foutdetails">
		<restriction base="string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="Functie">
		<restriction base="string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieVrijBerichtElement">
		<restriction base="string">
			<enumeration value="antwoord"/>
			<enumeration value="entiteit"/>
			<enumeration value="selectie"/>
			<enumeration value="update"/>
			<enumeration value="zaakinfo"/>
		</restriction>
	</simpleType>
	<simpleType name="Gebeurtenis">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="Gebruiker">
		<restriction base="string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>
	<simpleType name="Groepsnaam">
		<restriction base="string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>
	<simpleType name="IndicatorHistorie">
		<restriction base="string">
			<enumeration value="N">
				<annotation>
					<documentation>
						Er wordt niet om historie gevraagd c.q. er wordt geen historie teruggegeven
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ME">
				<annotation>
					<documentation>
						Er wordt om materile historie op entiteitsniveau gevraagd c.q. er wordt materile historie op entiteitsniveau teruggegeven
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MG">
				<annotation>
					<documentation>
						Er wordt om materile historie op groepsniveau gevraagd c.q. er wordt materile historie op groepsniveau teruggegeven
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FE">
				<annotation>
					<documentation>
						Er wordt om materile en formele historie op entiteitsniveau gevraagd c.q. er wordt materile en formele historie op entiteitsniveau teruggegeven
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FG">
				<annotation>
					<documentation>
						Er wordt om materile en formele historie op groepsniveau gevraagd c.q. er wordt materile en formele historie op groepsniveau teruggegeven
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="IndicatorOvername">
		<restriction base="string">
			<enumeration value="I">
				<annotation>
					<documentation xml:lang="nl">Informatief</documentation>
				</annotation>
			</enumeration>
			<enumeration value="V">
				<annotation>
					<documentation xml:lang="nl">Verplicht</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="IndOnvolledigeDatum">
		<restriction base="string">
			<enumeration value="J">
				<annotation>
					<documentation xml:lang="nl">de datum heeft een waarde maar jaar, maand en dag zijn onbekend</documentation>
				</annotation>
			</enumeration>
			<enumeration value="M">
				<annotation>
					<documentation xml:lang="nl">de datum heeft een waarde maar maand en dag zijn onbekend</documentation>
				</annotation>
			</enumeration>
			<enumeration value="D">
				<annotation>
					<documentation xml:lang="nl">de datum heeft een waarde maar de dag is onbekend</documentation>
				</annotation>
			</enumeration>
			<enumeration value="V">
				<annotation>
					<documentation xml:lang="nl">datum is volledig</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="MaximumAantal">
		<restriction base="nonNegativeInteger">
			<totalDigits value="8"/>
		</restriction>
	</simpleType>
	<simpleType name="Melding">
		<restriction base="string">
			<maxLength value="250"/>
		</restriction>
	</simpleType>
	<simpleType name="Mutatiesoort">
		<restriction base="StUF:Functie">
			<enumeration value="T">
				<annotation>
					<documentation xml:lang="nl">Toevoeging</documentation>
				</annotation>
			</enumeration>
			<enumeration value="W">
				<annotation>
					<documentation xml:lang="nl">Wijziging</documentation>
				</annotation>
			</enumeration>
			<enumeration value="V">
				<annotation>
					<documentation xml:lang="nl">Verwijdering</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation xml:lang="nl">Correctie zonder opbouw formele historie</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation xml:lang="nl">Correctie met opbouw formele historie</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="MutatiesoortT">
		<annotation>
			<documentation>Mutatiesoort = T</documentation>
		</annotation>
		<restriction base="StUF:Mutatiesoort">
			<enumeration value="T"/>
		</restriction>
	</simpleType>
	<simpleType name="MutatiesoortW">
		<annotation>
			<documentation>Mutatiesoort = W</documentation>
		</annotation>
		<restriction base="StUF:Mutatiesoort">
			<enumeration value="W"/>
		</restriction>
	</simpleType>
	<simpleType name="MutatiesoortV">
		<annotation>
			<documentation>Mutatiesoort = V</documentation>
		</annotation>
		<restriction base="StUF:Mutatiesoort">
			<enumeration value="V"/>
		</restriction>
	</simpleType>
	<simpleType name="MutatiesoortC">
		<annotation>
			<documentation>Mutatiesoort = C</documentation>
		</annotation>
		<restriction base="StUF:Mutatiesoort">
			<enumeration value="C"/>
		</restriction>
	</simpleType>
	<simpleType name="MutatiesoortF">
		<annotation>
			<documentation>Mutatiesoort = F</documentation>
		</annotation>
		<restriction base="StUF:Mutatiesoort">
			<enumeration value="F"/>
		</restriction>
	</simpleType>
	<simpleType name="MutatiesoortWijzigingInSynchronisatie">
		<restriction base="StUF:Mutatiesoort">
			<enumeration value="W"/>
			<enumeration value="F"/>
		</restriction>
	</simpleType>
	<simpleType name="NoValue">
		<restriction base="string">
			<enumeration value="nietOndersteund"/>
			<enumeration value="nietGeautoriseerd"/>
			<enumeration value="geenWaarde"/>
			<enumeration value="waardeOnbekend"/>
			<enumeration value="vastgesteldOnbekend"/>
		</restriction>
	</simpleType>
	<simpleType name="Organisatie">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="Refnummer">
		<restriction base="string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<simpleType name="SequenceNumber">
		<restriction base="positiveInteger">
			<maxInclusive value="99999999"/>
		</restriction>
	</simpleType>
	<simpleType name="Sleutel">
		<restriction base="string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<simpleType name="Sortering">
		<restriction base="nonNegativeInteger">
			<totalDigits value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="StatusMetagegeven">
		<restriction base="string">
			<enumeration value="J"/>
		</restriction>
	</simpleType>
	<simpleType name="Tijdstip">
		<restriction base="string">
			<pattern value="[0-9]{8,17}"/>
		</restriction>
	</simpleType>
	<simpleType name="Versienr">
		<restriction base="string">
			<minLength value="4"/>
			<maxLength value="4"/>
			<pattern value="[0-9]{4}"/>
		</restriction>
	</simpleType>
	<simpleType name="Verwerkingssoort">
		<restriction base="string">
			<maxLength value="1"/>
			<enumeration value="T">
				<annotation>
					<documentation xml:lang="nl">Toevoeging</documentation>
				</annotation>
			</enumeration>
			<enumeration value="W">
				<annotation>
					<documentation xml:lang="nl">Wijziging of correctie</documentation>
				</annotation>
			</enumeration>
			<enumeration value="V">
				<annotation>
					<documentation xml:lang="nl">Verwijdering</documentation>
				</annotation>
			</enumeration>
			<enumeration value="E">
				<annotation>
					<documentation xml:lang="nl"> Een relatie entiteit wordt beeindigd.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="I">
				<annotation>
					<documentation xml:lang="nl">Entiteit bevat alleen identificerende gegevens.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="R">
				<annotation>
					<documentation xml:lang="nl">Een relatie entiteit wordt vervangen door een nieuwe relatie entiteit.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation xml:lang="nl"> De sleutel van een entiteit wordt gewijzigd.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="O">
				<annotation>
					<documentation xml:lang="nl"> Het object in de oude entiteit wordt in het kader van een ontdubbeling samengevoegd met het object in de nieuwe entiteit. Het object in de oude entiteit komt niet voor in het zendende systeem. Objecten in een systeem worden veelal ontdubbeld als blijkt dat ze verwijzen naar hetzelfde object in de werkelijkheid.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
</schema>
